{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720525998/devtegrate-images/pexels-pixabay-256381_rkpvyx.jpg" alt="Devtegrate Image">

            <div class="ctn-section-header-ctn">
                <h4>About Us</h4>

                <a class="about-btn" href="https://calendly.com/devtegrate">
                    <span>Consult with us?</span>
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <div class="service-ctn-position">
                    <h2>From Brainstorming to Implementation: We're the Tech Experts Who Help You Do It.</h2>
                    <p>At Devtegrate, we're passionate about technology's power to revolutionize businesses. We were founded on the belief that every company deserves the tools to achieve its full potential. That's why we bring together a team of creative technologists and strategic thinkers dedicated to crafting cutting-edge solutions that transform how businesses operate.</p>
                    <p>At Devtegrate, we comprehend the distinct challenges that organizations encounter in managing their workflows, web applications, software development, and other critical requirements. To this end, we provide bespoke solutions that are tailored to streamline processes, enhance productivity, and guarantee seamless operations.</p>
                </div>

                <div class="service-ctn-position-content">
                    <img class="service-ctn-position-content-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720525975/devtegrate-images/business-people-meeting_53876-15178_sszxcn.jpg" alt="Devtegrate Cloud Services">
                </div>
            </div>
        </div>

        <div class="about-service-grid-section">
            <div class="about-service-grid-section-ctn">
                <h2>What We Do</h2>
                <p>We don't just offer generic IT services – we focus on developing solutions tailored to your specific needs.</p>
                <h3>Our Expertise</h3>                
                <li>Devops</li>
                <li>Compliance</li>
                <li>Automation</li>
                <li>Cybersecurity</li>
                <li>Cloud Solutions</li>
                <li>Software Development</li>
            </div>

            <div class="about-service-grid-section-ctn-grid">

                <div class="about-service-grid-section-ctn-grid-box">
                    <span>DevOps</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530477/devtegrate-images/infinity_lidel0.png" alt="Devtegrate Cloud Services">
                </div>
                
                <div class="about-service-grid-section-ctn-grid-box">
                    <span>Cloud Services</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530531/devtegrate-images/server_vnum2z.png" alt="Devtegrate Cloud Services">
                </div>
                
                <div class="about-service-grid-section-ctn-grid-box">
                    <span>Software Development</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530620/devtegrate-images/software_diu1wm.png" alt="Devtegrate Cloud Services">
                </div>
                
                <div class="about-service-grid-section-ctn-grid-box">
                    <span>Cyber Security</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530458/devtegrate-images/cyber-security_clnumf.png" alt="Devtegrate Cloud Services">
                </div>
                
                <div class="about-service-grid-section-ctn-grid-box">
                    <span>Automation</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530489/devtegrate-images/robotic-hand_mube6r.png" alt="Devtegrate Cloud Services">
                </div>
                
                <div class="about-service-grid-section-ctn-grid-box">
                    <span>Security and Compliance</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530476/devtegrate-images/file_dgtih1.png" alt="Devtegrate Cloud Services">
                </div>
                
            </div>
        </div>

        <div class="about-ctn-img-background">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526853/devtegrate-images/Artboard_15_j1ux4i.jpg" alt="Devtegrate Cloud Services">

            <div class="about-ctn-img-background-ctn">
                <div class="about-ctn-img-background-ctn-text">
                    <h2>Why Devtegrate?</h2>
                    <p>We understand that every business is unique, and so are your IT needs.</p>
                </div>

                <div class="about-ctn-img-background-ctn-box-ctn-header">
                    <h3>What sets Devtegrate apart:</h3>
                    <div class="about-ctn-img-background-ctn-box-ctn">
                        <div class="about-ctn-img-background-ctn-box">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530455/devtegrate-images/Asset_3_sfb3ff.svg" alt="Devtegrate Cloud Services">
                            <p>A Passion for Innovation</p>
                        </div>

                        <div class="about-ctn-img-background-ctn-box">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530456/devtegrate-images/Asset_4_wzsbij.svg" alt="Devtegrate Cloud Services">
                            <p>A Collaborative Approach</p>
                        </div>

                        <div class="about-ctn-img-background-ctn-box">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530455/devtegrate-images/Asset_2_vgsc4v.svg" alt="Devtegrate Cloud Services">
                            <p>A Proven Track Record</p>
                        </div>

                        <div class="about-ctn-img-background-ctn-box">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530456/devtegrate-images/Asset_5_iwaewu.svg" alt="Devtegrate Cloud Services">
                            <p>A Commitment to Excellence</p>
                        </div>
                    </div>
                </div>

                <div class="about-ctn-cn-grid-img-ctn">
                    <h3>We Speak Business.&nbsp;&nbsp;We Speak Tech.&nbsp;&nbsp;We Speak Your Language.</h3>
                    <div class="about-ctn-cn-grid-img-flex">
                        <img class="about-ctn-cn-grid-img-flex-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719842405/devtegrate-brand/Azure_3_wb0zi5.png" alt="Devtegrate Image">
                        <img class="about-ctn-cn-grid-img-flex-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895711/devtegrate-brand/google-cloud-icon-2048x1646-7admxejz_i8ryus.png" alt="Devtegrate Image">
                        <img class="about-ctn-cn-grid-img-flex-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895702/devtegrate-brand/2022_Zoom-AWS_Lockup_RGB-1-e1672857797889-1024x760_gyqxff.webp" alt="Devtegrate Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="inspiration-banner">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526853/devtegrate-images/Artboard_15_j1ux4i.jpg" alt="Devtegrate Image">
            
            <div class="inspiration-banner-content">
                <div class="inspiration-banner-content-text">
                    <h2>Ready to Build Your Future?</h2>
                    <p>Contact Devtegrate today and let's discuss how we can help your business achieve its full potential.</p>
                    <a href="{{ url_for('software_development') }}">
                        <span>Schedule Your Free Automation Consultation</span>
                        
                    </a>
                </div>
            </div>
        </div>
        {% include 'components/footer.html' %}
    {% endblock %}