{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="ctn-section-header-ctn">
                <h4>About Us</h4>

                <a class="about-btn" href="https://calendly.com/devtegrate">
                    <span>Consult with us?</span>
                </a>
            </div>
        </div>

        <div class="ctn-section-two">
            <div class="ctn-section-two-cn">
                <h3>About Devtegrate</h3>
                <span>DevOps. Cloud Service. Automation.</span>
                <p>At Devtegrate, we're passionate about technology's power to revolutionize businesses. We were founded on the belief that every company deserves the tools to achieve its full potential. That's why we bring together a team of creative technologists and strategic thinkers dedicated to crafting cutting-edge solutions that transform how businesses operate.</p>

                <p>At Devtegrate, we comprehend the distinct challenges that organizations encounter in managing their workflows, web applications, software development, and other critical requirements. To this end, we provide bespoke solutions that are tailored to streamline processes, enhance productivity, and guarantee seamless operations.</p>
            </div>

            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719842854/devtegrate-brand/25225467_7016019_p53hsl.jpg" alt="Devtegrate Cloud Images">
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span"></span>
                <h2>Protecting Your Business in a Digital World</h2>
                <p>We don't just offer generic IT services – we focus on developing solutions tailored to your specific needs.</p>
            </div>
        </div>

        <div class="updated-ctn-grid-ctn">
            <!--<div class="updated-ctn-grid-ctn-header">
                <span>Cloud Services and Security Compliance</span>
                <h2>Our Services</h2>
            </div>-->

            <div class="updated-ctn-grid">
                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719584501/devtegrate-brand/Cloud_Development_2_e8artw.png" alt="Devtegrate Cloud Services">
                        <span>Cloud Services</span>
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Struggling with IT Infrastructure Costs and Complexity?</h2>
                        <p>Move your business to the cloud and unlock a world of scalability, flexibility, and cost savings. Our secure cloud solutions allow you to focus on your core business while we manage your IT infrastructure.</p>

                        <a href="{{ url_for('cloud_service') }}">
                            <span>Learn More About Cloud Migration</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719394318/devtegrate-brand/Cyber_Security_1_koqnsx.png" alt="Devtegrate Cloud Services">
                        <span>Cyber Security</span>
                    </div>
                    
                    <div class="updated-ctn-grid-box-cn">
                        <h2>Worried About Data Breaches and Cyber Attacks?</h2>
                        <p>Protect your business-critical data and systems from evolving cyber threats. Our comprehensive cybersecurity solutions offer proactive threat detection, incident response, and ongoing security monitoring for complete peace of mind.</p>

                        <a href="{{ url_for('cyber_security') }}">
                            <span>How We Can Enhance Your Security</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <img class="filter-img-ctn" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719430216/devtegrate-brand/download-removebg-preview_fo6lp3.png" alt="Devtegrate Cloud Services">
                        <span>Compliance</span>
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Navigating Complex IT Compliance Requirements?</h2>
                        <p>Stay compliant with industry regulations and data privacy laws. Our compliance experts help you navigate complex regulations and ensure your IT systems meet all necessary standards for your industry.</p>
                        
                        <a href="{{ url_for('security_compliance') }}">
                            <span>Explore Our Compliance Services</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719428196/devtegrate-brand/Devops_amvyap.png" alt="Devtegrate Cloud Services">
                        <span>DevOps</span>
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Feeling Slowed Down by Manual IT Processes?</h2>
                        <p>We bridge the gap between development and operations, leading to faster deployments and higher quality software.</p>

                        <a href="{{ url_for('cloud_devops') }}">
                            <span>DevOps Can Optimize Your Development</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719394612/devtegrate-brand/Cloud_Development_1_dstdzw.png" alt="Devtegrate Cloud Services">
                        <span>Automation</span>
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Spending Too Much Time on Repetitive IT Tasks?</h2>
                        <p>Boost your IT team's efficiency and free up valuable resources with intelligent automation solutions. We automate repetitive tasks, allowing your team to focus on strategic initiatives that drive business growth.</p>

                        <a href="{{ url_for('cloud_automation') }}">
                            <span>Unlock the Power of IT Automation</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719394380/devtegrate-brand/Programming_1_mea9ng.png" alt="Devtegrate Cloud Services">
                        <span>Software Development</span>
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Need Custom Software Solutions to Drive Your Business Forward?</h2>
                        <p>Our skilled developers create innovative and  tailor-made software solutions that meet your specific business needs. We leverage the latest technologies to deliver high-performance and scalable software applications.</p>

                        <a href="{{ url_for('software_development') }}">
                            <span>Custom Software Development Needs</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="ctn-section-three">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718723200/devtegrate-updates/Artboard_7_hsnpvj.png" alt="Devtegrate Cloud Images">

            <div class="ctn-section-three-cn">
                <h3>Our expert team</h3>
                <span>DevOps. Cloud Service. Automation.</span>
                <p>We have a team of professionals with expertise in various technological and programming stacks, including expert DevOps services certified in the use of Amazon Web Services (AWS), Microsoft Azure, Google Cloud Platform, and Oracle Cloud Service. Our vast knowledge in utilizing various tools for automation processes, CI/CD actions, containerization of applications, monitoring, logging, and other service requirements make us one of the leading organizations in Cloud formation, infrastructure, and automation.</p>

                <p>Some of our notable clients include National Basketball Association (NBA), Hard Rock Cafe, Disney, and AutoStore, who have all testified to our competence in using a collaboration of tools to automate deployments. We have a dedicated team to support application deployment, and a vast experience working in the cloud space.</p>

                <p>Devtegrate also possesses experience working with DOD security applications, also known as DevSecOps, which combines software development (Dev), security (Sec), and information technology operations (Ops) to secure outcomes and shorten the development lifecycle. Our aim is to lead the market in being a force to reckon with in DevOps and Cloud Infrastructure, as well as to solve market needs in cloud or "on-premise cloud infrastructure."</p>
            </div>
        </div>-->

        <div class="inspiration-banner">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">
            
            <div class="inspiration-banner-content">
                <div class="inspiration-banner-content-text">
                    <h2>Make that Great leap in Your Career Towards Greatness</h2>
                    <p>We create, we innovate and we deploy softwares, setting up its infrastructure on the cloud, in line with its development life cycle, a core requirement for its set up, with our clients being satisfied tech giants, confident in the service we provide.</p>
                </div>

                <div class="inspiration-banner-content-img">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Image">
                </div>
            </div>
        </div>

        <div class="about-ctn-cn-grid">
            <div class="about-ctn-cn-grid-details">
                <span>We Speak Business. We Speak Tech. We Speak Your Language.</span>
                <h2>Why Devtegrate?</h2>
                <p>We understand that every business is unique, and so are your IT needs.</p>
                <p>What sets Devtegrate apart:</p>

                <div class="updated-asset">
                  <div class="updated-asset-abput-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                      <div class="updated-asset-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719856442/devtegrate-brand/Innovation_vgeoxl.png" alt="Devtegrate Cloud Services">
                      </div>

                            <div class="updated-asset-ctn">
                                <p>A Passion for Innovation</p>
                            </div>
                        </div>
                        <!-- Updated Asset End -->

                        <!-- Updated Asset Start -->
                        <div class="updated-asset-box">
                            <div class="updated-asset-img">
                                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719856453/devtegrate-brand/Collaboration_krjrwa.png" alt="Devtegrate Cloud Services">
                            </div>

                            <div class="updated-asset-ctn">
                                <p>A Collaborative Approach</p>
                            </div>
                        </div>
                        <!-- Updated Asset End -->

                        <!-- Updated Asset Start -->
                        <div class="updated-asset-box">
                            <div class="updated-asset-img">
                                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719856532/devtegrate-brand/Experience_Skill_mm8fpm.png" alt="Devtegrate Cloud Services">
                            </div>

                            <div class="updated-asset-ctn">
                                <p>A Proven Track Record</p>
                            </div>
                        </div>
                        <!-- Updated Asset End -->

                        <!-- Updated Asset Start -->
                        <div class="updated-asset-box">
                            <div class="updated-asset-img">
                                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719856504/devtegrate-brand/Checkmark_om6hw1.png" alt="Devtegrate Cloud Services">
                            </div>

                            <div class="updated-asset-ctn">
                                <p>A Commitment to Excellence</p>
                            </div>
                        </div>
                        <!-- Updated Asset End -->
                    </div>
                </div>
            </div>

            <div class="about-ctn-cn-grid-img">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719842405/devtegrate-brand/Azure_3_wb0zi5.png" alt="Devtegrate Image">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895711/devtegrate-brand/google-cloud-icon-2048x1646-7admxejz_i8ryus.png" alt="Devtegrate Image">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895702/devtegrate-brand/2022_Zoom-AWS_Lockup_RGB-1-e1672857797889-1024x760_gyqxff.webp" alt="Devtegrate Image">
            </div>
        </div>

        <!--<div class="about-footer-ctn">
            <div class="about-footer-ctn-header">
                <span>Consultation.&nbsp;&nbsp;&nbsp;&nbsp;Cloud Service.&nbsp;&nbsp;&nbsp;&nbsp;Automation.</span>
                <h2>Start Your Journey with the Right Information !</h2>
            </div>

            <div class="about-footer-ctn-grid">
                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967902/devtegrate-brand/server_fzqqbv.png" alt="Devtegrate Image">
                    <h2>DevOps Services</h2>
                    <span>Expert DevOps Engineers</span>
                    <p>Meet the Team</p>
                </div>

                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967902/devtegrate-brand/computer_fc1jtf.png" alt="Devtegrate Image">
                    <h2>Our Tools</h2>
                    <span>Professionals in Deployment</span>
                    <p>Explore Our Page</p>
                </div>

                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967903/devtegrate-brand/hosting-server_xyw11g.png" alt="Devtegrate Image">
                    <h2>Server Side</h2>
                    <span>Our focus is Professionalism</span>
                    <p>Our Services</p>
                </div>

                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967902/devtegrate-brand/robotic-hand_trouiy.png" alt="Devtegrate Image">
                    <h2>Automation</h2>
                    <span>Software Development Life Cycle</span>
                    <a href="{{ url_for('cloud_automation') }}">Click Here</a>
                </div>
            </div>

            <div class="about-ctn-footer-btn">
                <a href="">
                    <span>Begin Your Journey</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>-->

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Ready to Build Your Future?</h2>
                <p>Contact Devtegrate today and let's discuss how we can help your business achieve its full potential.</p>
                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Consultation</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>
        {% include 'components/footer.html' %}
    {% endblock %}