{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="ctn-section-header-ctn">
                <h4>About Us</h4>

                <a class="about-btn" href="">
                    <span>Consult with us?</span>
                </a>
            </div>
        </div>

        <div class="ctn-section-two">
            <div class="ctn-section-two-cn">
                <h3>About Devtegrate</h3>
                <span>DevOps. Cloud Service. Automation.</span>
                <p>Devtegrate is a prominent professional services provider that specializes in Cloud DevOps. Our team is composed of multinational experts who possess extensive experience in the industry, totaling more than 50 years. We are committed to delivering exceptional services to our clients, addressing their specific needs on a global scale.</p>

                <p>At Devtegrate, we comprehend the distinct challenges that organizations encounter in managing their workflows, web applications, software development, and other critical requirements. To this end, we provide bespoke solutions that are tailored to streamline processes, enhance productivity, and guarantee seamless operations.</p>
            </div>

            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718723200/devtegrate-updates/Artboard_7_hsnpvj.png" alt="Devtegrate Cloud Images">
        </div>

        <div class="ctn-section-three">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718723200/devtegrate-updates/Artboard_7_hsnpvj.png" alt="Devtegrate Cloud Images">

            <div class="ctn-section-three-cn">
                <h3>Our expert team</h3>
                <span>DevOps. Cloud Service. Automation.</span>
                <p>We have a team of professionals with expertise in various technological and programming stacks, including expert DevOps services certified in the use of Amazon Web Services (AWS), Microsoft Azure, Google Cloud Platform, and Oracle Cloud Service. Our vast knowledge in utilizing various tools for automation processes, CI/CD actions, containerization of applications, monitoring, logging, and other service requirements make us one of the leading organizations in Cloud formation, infrastructure, and automation.</p>

                <p>Some of our notable clients include National Basketball Association (NBA), Hard Rock Cafe, Disney, and AutoStore, who have all testified to our competence in using a collaboration of tools to automate deployments. We have a dedicated team to support application deployment, and a vast experience working in the cloud space.</p>

                <p>Devtegrate also possesses experience working with DOD security applications, also known as DevSecOps, which combines software development (Dev), security (Sec), and information technology operations (Ops) to secure outcomes and shorten the development lifecycle. Our aim is to lead the market in being a force to reckon with in DevOps and Cloud Infrastructure, as well as to solve market needs in cloud or "on-premise cloud infrastructure."</p>
            </div>
        </div>

        <div class="inspiration-banner">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">
            
            <div class="inspiration-banner-content">
                <div class="inspiration-banner-content-text">
                    <h2>Make that Great leap in Your Career Towards Greatness</h2>
                    <p>We create, we innovate and we deploy softwares, setting up its infrastructure on the cloud, in line with its development life cycle, a core requirement for its set up, with our clients being satisfied tech giants, confident in the service we provide.</p>
                </div>

                <div class="inspiration-banner-content-img">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Image">
                </div>
            </div>
        </div>

        <div class="about-ctn-cn-grid">
            <div class="about-ctn-cn-grid-details">
                <span>DevOps.    Cloud Service.    Automation.</span>
                <h2>Why we remain the best at what we do</h2>
                <p>Devtegrate is highly dynamic in its service delivery with a wide scope of knowledge, utilization of tool's for DevOps, Cloud Service and Automation.</p>
                <p>In a highly competitive space, we remain the most professional outfit, best known for efficiency, skill and professionalism. We don't miss mandates or break our promise so, when we give you our word, store it to the cloud, because we automate it.</p>
            </div>

            <div class="about-ctn-cn-grid-img">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895702/devtegrate-brand/2022_Zoom-AWS_Lockup_RGB-1-e1672857797889-1024x760_gyqxff.webp" alt="Devtegrate Image">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895711/devtegrate-brand/google-cloud-icon-2048x1646-7admxejz_i8ryus.png" alt="Devtegrate Image">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895702/devtegrate-brand/2022_Zoom-AWS_Lockup_RGB-1-e1672857797889-1024x760_gyqxff.webp" alt="Devtegrate Image">
            </div>
        </div>

        <div class="about-footer-ctn">
            <div class="about-footer-ctn-header">
                <span>Consultation.&nbsp;&nbsp;&nbsp;&nbsp;Cloud Service.&nbsp;&nbsp;&nbsp;&nbsp;Automation.</span>
                <h2>Start Your Journey with the Right Information !</h2>
            </div>

            <div class="about-footer-ctn-grid">
                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967902/devtegrate-brand/server_fzqqbv.png" alt="Devtegrate Image">
                    <h2>DevOps Services</h2>
                    <span>Expert DevOps Engineers</span>
                    <p>Meet the Team</p>
                </div>

                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967902/devtegrate-brand/computer_fc1jtf.png" alt="Devtegrate Image">
                    <h2>Our Tools</h2>
                    <span>Professionals in Deployment</span>
                    <p>Explore Our Page</p>
                </div>

                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967903/devtegrate-brand/hosting-server_xyw11g.png" alt="Devtegrate Image">
                    <h2>Server Side</h2>
                    <span>Our focus is Professionalism</span>
                    <p>Our Services</p>
                </div>

                <div class="about-footer-ctn-grid-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967902/devtegrate-brand/robotic-hand_trouiy.png" alt="Devtegrate Image">
                    <h2>Automation</h2>
                    <span>Software Development Life Cycle</span>
                    <a href="{{ url_for('cloud_automation') }}">Click Here</a>
                </div>
            </div>

            <div class="about-ctn-footer-btn">
                <a href="">
                    <span>Begin Your Journey</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        {% include 'components/faq.html' %}
        {% include 'components/footer.html' %}
    {% endblock %}