{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Ready to Release Features Faster and More Frequently?</h2>
                <p>Our DevOps services help you achieve continuous delivery and improve software quality.</p>

                <a class="lgBtn" href="https://calendly.com/devtegrate">
                    Schedule Your Free DevOps Assessment
                    <i class='bx bxs-chevron-right'></i>
                </a>
            </div>
        </div>

        <div class="service-ctn">

            <div class="service-ctn-header">
                <div class="service-ctn-position">
                    <div class="new-update-box">
                        <img class="new-update-box-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526296/devtegrate-images/african-american-man-working-computer-created-with-generative-ai-technology_vwuvvm.jpg" alt="Devtegrate Cloud Services">
                        <div class="new-update-box-ctn">
                            <h2>Streamline Your Development with Powerful DevOps Services</h2>
                        </div>
                    </div>

                    <a class="lgBtn" href="https://calendly.com/devtegrate">
                        Schedule Your Free DevOps Assessment
                        <i class='bx bxs-chevron-right'></i>
                    </a>
                </div>

                <div class="service-ctn-position-content">
                    <p>Manual tasks, infrequent deployments, and communication gaps between development and operations teams often lead to delays, errors, and frustrated users.</p>

                    <p>DevOps offers a solution. By bridging the gap between development and operations, DevOps promotes continuous integration, delivery, and monitoring.</p>
                </div>
            </div>

            <p class="extra-paragraph">How we can help:</p>
            
            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530456/devtegrate-images/automation_g9m5h2.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Automated Delivery Pipelines (CI/CD)</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530457/devtegrate-images/business_jo10ht.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Modern Infrastructure Management</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530488/devtegrate-images/process_uf9k6k.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Design, build, and manage your software infrastructure in the cloud, ensuring scalability and cost-efficiency</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530476/devtegrate-images/file_dgtih1.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Integrate security practices throughout the development lifecycle, ensuring your applications are secure from the ground up</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530481/devtegrate-images/planning_e8jaq1.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Implement comprehensive monitoring solutions to keep track of your applications and infrastructure performance.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>
        </div>

        <div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <!--<p>Get insights on what we do and how we do it.</p>-->
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Do I need to completely overhaul my existing infrastructure?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                    <p>Not necessarily. We can help you integrate DevOps practices with your existing infrastructure and gradually migrate towards a more modern and efficient setup.</p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can you help us with CI/CD pipeline implementation?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <p>Absolutely! We have experience in all aspects of DevOps, including CI/CD pipeline implementation, containerization, cloud infrastructure management, and monitoring.</p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What is the typical cost of your DevOps services?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <p>The cost of our services will vary depending on the scope of your project, the specific services you require, and the size of your team. We offer flexible engagement models and will provide you with a transparent cost estimate upfront.</p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What are the long-term benefits of adopting DevOps?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                    <p>DevOps is not just a short-term solution. By fostering a culture of collaboration, automation, and continuous improvement, DevOps can lead to long-term benefits such as:</p>

                    <li>Increased innovation and agility</li>
                    <li>Improved developer productivity and morale</li>
                    <li>Reduced operational costs</li>
                    <li>Enhanced customer satisfaction</li>
                </div>
              </div>
            </div>
          </div>

        <!--<div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Feeling overwhelmed by the complexities of software development?</h2>
                <p>We deliver predictable software projects on time and within budget, built with the quality you expect.</p>

                <a href="">
                    <span>Get Your Free Project Roadmap Consultation</span>
                    
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Software Development</span>
                <h2>Stop the Software Development Headaches. Get Predictable Results.</h2>
                <p>Missed deadlines, hidden costs, and buggy software can derail your project. We guide businesses through the development process with clarity and control. We deliver high-quality, on-time software that meets your needs and drives results.</p>

                <a href="">
                    <span>Get a Free Quote for Your Software Project</span>
                    
                </a>
            </div>

            <div class="service-ctn-grid">
                <li>Project Planning & Requirements Gathering</li>
                <li>Software Design & Architecture</li>
                <li>Agile Development & Development</li>
                <li>Quality Assurance & Testing</li>
                <li>Deployment & Maintenance</li>
            </div>
        </div>-->

        <!--<div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <p>Get insights on what we do and how we do it.</p>
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How do you ensure the quality of your software development work?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>We implement a comprehensive Quality Assurance (QA) process that includes code reviews, unit testing, integration testing, and user acceptance testing. This ensures your software meets the highest quality standards.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can you handle projects with complex requirements?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <li>Absolutely! Our experienced team has a proven track record of delivering successful software solutions for projects with varying levels of complexity. We will work closely with you to understand your needs and develop a solution that meets those requirements.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Do you have experience developing software for my industry?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <li>(If applicable) Yes, we have extensive experience developing software for clients in the [Your Industry] industry. We understand the specific challenges and needs of your industry and can leverage this knowledge to develop a tailored solution for your business.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What is your typical timeline for software development projects?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>
                    The development timeline will vary depending on the complexity and scope of your project. However, during the planning stage, we will provide you with a realistic timeline for completion.
                  </li>

                </div>
              </div>

              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How do you keep costs under control and within budget?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>
                    We provide transparent pricing and cost estimates upfront. We also leverage Agile methodologies to deliver working software iteratively, which allows for early feedback and course correction, preventing costly rework later in the process
                  </li>

                </div>
              </div>
            </div>
          </div>-->

        {% include 'components/footer.html' %}
    {% endblock %}