{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Feeling Overwhelmed by Repetitive Tasks?</h2>
                <p>Automate Repetitive Tasks. Boost Productivity. Achieve More.</p>

                <a href="">
                    <span>Schedule Your Free Automation Consultation</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <!--<span class="service-header-span">Software Development</span>-->
                <h2>Streamline processes, boost productivity, and accelerate your digital transformation.</h2>
                
                <p>In today's fast-paced business environment, repetitive tasks can consume valuable time and resources, hindering your ability to focus on strategic initiatives and growth.</p>
                
                <p>Automation plays a critical role in optimizing IT operations and software development.</p>

                <p>Devtegrate's automation solutions leverage cutting-edge tools and technologies to automate repetitive tasks, streamline workflows, and minimize human error.</p>

                <p>Here’s how we can help: </p>

                <a href="">
                    <span>Schedule Your Free Automation Consultation</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719587881/devtegrate-brand/Increase_1_bfpgho.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Increase Efficiency and free up valuable IT resources from mundane tasks</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719834756/devtegrate-brand/Coin_in_Hand_vgj5jg.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Cost savings and improved resource allocation</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719835028/devtegrate-brand/Task_ou9ylp.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Automate tasks across various departments, resulting in faster completion times and increased operational efficiency.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719834771/devtegrate-brand/Medium_Risk_ykleez.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Reduce the risk of human error in repetitive tasks, ensuring data accuracy and consistency.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719834806/devtegrate-brand/Portrait_Mode_Scanning_zm4hlo.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Automate security processes like patching and vulnerability scanning, strengthening overall security posture.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>
        </div>

        <div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <!--<p>Get insights on what we do and how we do it.</p>-->
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What types of tasks can be automated?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                    <p>Many repetitive, time-consuming tasks across various departments can be automated. This includes tasks like data entry, form processing, report generation, password resets, IT infrastructure provisioning, and application deployment.</p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Will automation replace my employees?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <p>Automation is not about replacing employees, but rather about freeing them from repetitive tasks. By automating mundane work, your team can focus on higher-value activities that require creativity, critical thinking, and problem-solving skills.</p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Is automation complicated to implement?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <p>We work closely with you to understand your specific needs, assess your processes, and implement customized automation solutions that seamlessly integrate with your existing infrastructure. Our team of experts provides ongoing support to ensure a smooth transition and maximize the benefits of automation.</p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What is the cost of implementing automation solutions?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                    <p>The cost of automation varies depending on the complexity of your needs and the scope of the project. We offer flexible solutions and work with your budget to create a cost-effective automation plan. We also focus on demonstrating the ROI (return on investment) you can expect through increased efficiency, reduced errors, and cost savings.</p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How long does it take to see the benefits of automation?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                    <p>The timeframe for realizing the benefits of automation depends on the specific solutions implemented. However, many businesses see improvements in efficiency and productivity within a short period.  Our approach prioritizes quick wins and ensures a smooth implementation process to deliver tangible results rapidly.</p>
                </div>
              </div>
            </div>
          </div>

        <!--<div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Feeling overwhelmed by the complexities of software development?</h2>
                <p>We deliver predictable software projects on time and within budget, built with the quality you expect.</p>

                <a href="">
                    <span>Get Your Free Project Roadmap Consultation</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Software Development</span>
                <h2>Stop the Software Development Headaches. Get Predictable Results.</h2>
                <p>Missed deadlines, hidden costs, and buggy software can derail your project. We guide businesses through the development process with clarity and control. We deliver high-quality, on-time software that meets your needs and drives results.</p>

                <a href="">
                    <span>Get a Free Quote for Your Software Project</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="service-ctn-grid">
                <li>Project Planning & Requirements Gathering</li>
                <li>Software Design & Architecture</li>
                <li>Agile Development & Development</li>
                <li>Quality Assurance & Testing</li>
                <li>Deployment & Maintenance</li>
            </div>
        </div>-->

        <!--<div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <p>Get insights on what we do and how we do it.</p>
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How do you ensure the quality of your software development work?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>We implement a comprehensive Quality Assurance (QA) process that includes code reviews, unit testing, integration testing, and user acceptance testing. This ensures your software meets the highest quality standards.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can you handle projects with complex requirements?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <li>Absolutely! Our experienced team has a proven track record of delivering successful software solutions for projects with varying levels of complexity. We will work closely with you to understand your needs and develop a solution that meets those requirements.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Do you have experience developing software for my industry?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <li>(If applicable) Yes, we have extensive experience developing software for clients in the [Your Industry] industry. We understand the specific challenges and needs of your industry and can leverage this knowledge to develop a tailored solution for your business.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What is your typical timeline for software development projects?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>
                    The development timeline will vary depending on the complexity and scope of your project. However, during the planning stage, we will provide you with a realistic timeline for completion.
                  </li>

                </div>
              </div>

              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How do you keep costs under control and within budget?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>
                    We provide transparent pricing and cost estimates upfront. We also leverage Agile methodologies to deliver working software iteratively, which allows for early feedback and course correction, preventing costly rework later in the process
                  </li>

                </div>
              </div>
            </div>
          </div>-->

        {% include 'components/footer.html' %}
    {% endblock %}