{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Safeguard Financial Data. Achieve Compliance with Confidence.</h2>
                <p>Our proven solutions empower financial institutions to streamline operations, enhance security, and navigate evolving regulations with agility.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation with a Financial Services Security Expert</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <!--<div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="ctn-section-header-ctn">
                <h2>Devtegrate Cloud Automation</h2>
                <h3>Overview of Devtegrate's Cloud Services</h3>
                <div class="btn-ctn">
                    <a href="">
                        <span>More Information</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>

                    <a href="">
                        <span>Consult with us?</span>
                    </a>
                </div>
            </div>
        </div>-->

        <div class="service-ctn">
            <div class="service-ctn-header">
                <!--<span class="service-header-span">Software Development</span>-->
                <h2>Balancing Innovation and Security in Financial Services</h2>
                <p>The financial services industry is undergoing a rapid digital transformation. Customers demand seamless digital experiences, while regulations and cyber threats continue to evolve.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation with a Financial Services Security Expert</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="service-ctn-header">
                <p><strong>The challenge?</strong> Striking a balance between delivering innovative financial products and services while maintaining robust security for sensitive data.</p>
            </div>

            <div class="service-ctn-grid">
                <li><strong>Enhanced Security Posture:</strong> Protect sensitive financial data from cyberattacks with our advanced cybersecurity solutions, including intrusion detection, data encryption, and vulnerability assessments.</li>

                <li><strong>Streamlined Compliance:</strong> Simplify compliance processes for regulations like GLBA and PCI-DSS with our expert guidance, automated workflows, and compliance management software.</li>

                <li><strong>Reduced Costs and Risks:</strong> Minimize the financial burden and reputational damage associated with data breaches and non-compliance through proactive security measures and streamlined processes.</li>

                <li><strong>Faster Innovation:</strong> Leverage DevOps practices to deliver new financial products and services securely and efficiently, accelerating your time-to-market.</li>

                <li><strong>Improved Operational Efficiency:</strong> Automate back-office tasks and workflows (e.g., account management, fraud detection) with Robotic Process Automation (RPA) to free up IT staff and optimize resource allocation.</li>
            </div>
        </div>

        <!--<div class="ctn-section-two">
            <div class="ctn-section-two-cn">
                <h2>Understanding Devtegrate Cloud Automation</h2>
                <p>Devtegrate Cloud Services is an advanced solution that can help businesses automate their IT infrastructure and applications in the cloud. Devtegrate Cloud Services can provide businesses with a range of tools and services that can streamline their operations. By leveraging cloud automation, businesses can optimize their IT operations, reduce costs, and enhance efficiency.</p>

                <p>Devtegrate Cloud Services is a cutting-edge cloud-based solution that assists businesses in automating their IT infrastructure and applications in the cloud. The process of cloud automation is fundamental to Devtegrate Cloud Services as it allows businesses to optimize their IT operations and enhance efficiency. Here are some ways that Devtegrate Cloud Services can support businesses with cloud automation.</p>
            </div>

            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718723200/devtegrate-updates/Artboard_7_hsnpvj.png" alt="Devtegrate Cloud Images">
        </div>-->

        <div class="ctn-section-two-cn-ctn">
            <div class="service-ctn-header">
                <h3>How We Can Help</h3>
            </div>

            <div class="ctn-section-two-cn-ctn-box-ctn">
                <div class="swiper-wrapper">
                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Secure Cloud Solutions</h2>
                        <p>Migrate your financial data to secure and scalable cloud infrastructure, ensuring data availability and regulatory compliance.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>DevOps for Financial Services</h2>
                        <p>Implement secure DevOps practices to streamline application development and deployment, accelerating innovation while maintaining robust security controls.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Compliance Management Software</h2>
                        <p>Simplify compliance tasks and reporting with user-friendly software that automates key processes and keeps you up-to-date on evolving regulations.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Advanced Threat Detection and Security Monitoring</h2>
                        <p>Protect your financial institution from emerging cyber threats with our 24/7 security monitoring and advanced threat detection solutions.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Robotic Process Automation (RPA)</h2>
                        <p>Enhance efficiency in back-office operations by automating repetitive tasks, allowing your staff to focus on higher-value activities.</p>
                    </div>
                </div>

                <ul class="control" id="custom-control">
                    <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                    <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                </ul>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Use Case</span>
                <h2>The Problem</h2>
                <p>A leading regional bank faced increasing pressure to comply with stricter data security regulations (GLBA, PCI-DSS) while simultaneously innovating and launching new digital banking products. Their legacy IT infrastructure was siloed and inefficient, making it difficult to adapt and maintain a strong security posture.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation with a Financial Services Security Expert Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="service-ctn-header">
                <p><strong>The Solution:</strong> Working with an expert team, a comprehensive security and compliance solution was implemented which included:</p>
            </div>

            <div class="service-ctn-grid">
                <li>Secure cloud migration for core banking applications and customer data.</li>

                <li>Secure DevOps practices for faster and more secure development of new digital banking features.</li>
                
                <li>Implementation of compliance management software to streamline GLBA and PCI-DSS processes.</li>

                <li>24/7 security monitoring and advanced threat detection solutions.</li>

                <li>Robotic Process Automation (RPA) to automate back-office tasks like account management and fraud detection.</li>
            </div>

            <div class="service-ctn-header">
                <p><strong>Results:</strong></p>
            </div>

            <div class="service-ctn-grid">
                <li>Significantly enhanced security posture, mitigating cyber threats and reducing the risk of data breaches.</li>

                <li>The bank streamlined compliance processes, saving time and resources previously dedicated to manual tasks.</li>
                
                <li>By leveraging secure DevOps, First National Bank accelerated the development and launch of new digital banking products, improving customer experience and staying ahead of the competition.</li>

                <li>24/7 security monitoring and advanced threat detection solutions.</li>

                <li>Robotic Process Automation (RPA) freed up IT staff to focus on strategic initiatives, improving overall operational efficiency.</li>
            </div>
        </div>

        <!--<div class="footer-banner">
            <img class="footer-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Cloud Images">

            <div class="footer-banner-content">
                <h3>Devtegrate Cloud Services</h3>
                <h2>Cloud Integration</h2>
                <p>Devtegrate Cloud Services is a cloud-based service that helps businesses manage their IT infrastructure and applications in the cloud. Cloud integration is an essential component of Devtegrate Cloud Services as it allows businesses to connect their cloud-based applications and services to share data and workflows seamlessly. Here are some ways Devtegrate Cloud Services can help businesses with cloud integration. Learn about our cloud automation process.</p>

                <a href="{{ url_for('cloud_integration') }}">
                    <span>Cloud Integration</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>    
        </div>-->

        {% include 'components/footer.html' %}
    {% endblock %}