{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Safeguard Financial Data. Achieve Compliance with Confidence.</h2>
                <p>Our proven solutions empower financial institutions to streamline operations, enhance security, and navigate evolving regulations with agility.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation with a Financial Services Security Expert</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <!--<span class="service-header-span">Software Development</span>-->
                <h2>Balancing Innovation and Security in Financial Services</h2>
                <p>The financial services industry is undergoing a rapid digital transformation. Customers demand seamless digital experiences, while regulations and cyber threats continue to evolve.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation with a Financial Services Security Expert</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="service-ctn-header">
                <p><strong>The challenge?</strong> Striking a balance between delivering innovative financial products and services while maintaining robust security for sensitive data.</p>
            </div>

            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719600835/devtegrate-brand/Security_Shield_iqvxhl.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Enhanced Security Posture</h2>
                            <p>Protect sensitive financial data from cyberattacks with our advanced cybersecurity solutions, including intrusion detection, data encryption, and vulnerability assessments.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719584532/devtegrate-brand/Test_Passed_cliteo.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Streamlined Compliance</h2>
                            <p>Simplify compliance processes for regulations like GLBA and PCI-DSS with our expert guidance, automated workflows, and compliance management software.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719834771/devtegrate-brand/Medium_Risk_ykleez.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Reduced Costs and Risks</h2>
                            <p>Minimize the financial burden and reputational damage associated with data breaches and non-compliance through proactive security measures and streamlined processes.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719837517/devtegrate-brand/Fast_Download_k5qcsb.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Faster Innovation</h2>
                            <p>Leverage DevOps practices to deliver new financial products and services securely and efficiently, accelerating your time-to-market.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719837555/devtegrate-brand/Upgrade_xx13hm.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Improved Operational Efficiency</h2>
                            <p>Automate back-office tasks and workflows (e.g., account management, fraud detection) with Robotic Process Automation (RPA) to free up IT staff and optimize resource allocation.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>
        </div>

        <div class="ctn-section-two-cn-ctn">
            <div class="service-ctn-header">
                <h3>How We Can Help</h3>
            </div>

            <div class="ctn-section-two-cn-ctn-box-ctn">
                <div class="swiper-wrapper">
                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Secure Cloud Solutions</h2>
                        <p>Migrate your financial data to secure and scalable cloud infrastructure, ensuring data availability and regulatory compliance.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>DevOps for Financial Services</h2>
                        <p>Implement secure DevOps practices to streamline application development and deployment, accelerating innovation while maintaining robust security controls.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Compliance Management Software</h2>
                        <p>Simplify compliance tasks and reporting with user-friendly software that automates key processes and keeps you up-to-date on evolving regulations.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Advanced Threat Detection and Security Monitoring</h2>
                        <p>Protect your financial institution from emerging cyber threats with our 24/7 security monitoring and advanced threat detection solutions.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Robotic Process Automation (RPA)</h2>
                        <p>Enhance efficiency in back-office operations by automating repetitive tasks, allowing your staff to focus on higher-value activities.</p>
                    </div>
                </div>

                <ul class="control" id="custom-control">
                    <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                    <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                </ul>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Use Case</span>
                <h2>The Problem</h2>
                <p>A leading regional bank faced increasing pressure to comply with stricter data security regulations (GLBA, PCI-DSS) while simultaneously innovating and launching new digital banking products. Their legacy IT infrastructure was siloed and inefficient, making it difficult to adapt and maintain a strong security posture.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation with a Financial Services Security Expert Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-swiper">
                <div class="updated-swiper-ctn-header">
                    <span>The Solution</span>
                    <h2>Working with an expert team, a comprehensive security and compliance solution was implemented which included:</h2>
                </div>

                <div class="updated-swiper-ctn">
                    <div class="updated-swiper-ctn-grid active">
                        <div class="updated-swiper-ctn-grid-box">
                            <p>Secure cloud migration for core banking applications and customer data.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Secure DevOps practices for faster and more secure development of new digital banking features.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Implementation of compliance management software to streamline GLBA and PCI-DSS processes.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>24/7 security monitoring and advanced threat detection solutions.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Robotic Process Automation (RPA) to automate back-office tasks like account management and fraud detection.</p>
                        </div>
                    </div>

                    <div class="updated-swiper-ctn-grid">
                        <div class="updated-swiper-ctn-grid-box">
                            <p>Significantly enhanced security posture, mitigating cyber threats and reducing the risk of data breaches.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>The bank streamlined compliance processes, saving time and resources previously dedicated to manual tasks.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>By leveraging secure DevOps, First National Bank accelerated the development and launch of new digital banking products, improving customer experience and staying ahead of the competition.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>24/7 security monitoring and advanced threat detection solutions.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Robotic Process Automation (RPA) freed up IT staff to focus on strategic initiatives, improving overall operational efficiency.</p>
                        </div>
                    </div>
                </div>

                <div class="updated-swiper-btn">

                    <div class="updated-swiper-identifier active">
                        <span>The Solution</span>
                        <div class="identifier"></div>
                    </div>

                    <div class="updated-swiper-liner"></div>

                    <div class="updated-swiper-identifier">
                        <div class="identifier"></div>
                        <span>The Result</span>
                    </div>
                </div>
            </div>
        </div>
        {% include 'components/footer.html' %}
    {% endblock %}