{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Modernize Government IT. Deliver Exceptional Services.</h2>
                <p>Cost-effective solutions for a more secure and efficient government. Let us help you navigate compliance, modernize legacy systems, and achieve your security goals.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Talk To An Expert IT Consultant Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <!--<span class="service-header-span">Software Development</span>-->
                <h2>Secure, deliver seamless services, and modernize your IT infrastructure with our proven solutions.</h2>
                <p>In today's digital age, government agencies face a growing challenge: balancing the need for efficient services with robust data security. Devtegrate understands the unique needs of the government sector.</p>
                <p>We offer a comprehensive suite of secure, scalable, and cost-effective solutions to help you:</p>
                <a href="https://calendly.com/devtegrate">
                    <span>Talk To An Expert IT Consultant Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719587708/devtegrate-brand/Security_Configuration_gvfjed.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Protect data from cyber threats with our advanced security solutions and compliance expertise.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719835863/devtegrate-brand/Upload_to_Cloud_on576q.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Streamline operations and improve efficiency by migrating to a secure cloud infrastructure.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719835822/devtegrate-brand/Laptop_Settings_tdbzy2.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Modernize outdated systems to enhance security, performance, and user experience.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719835836/devtegrate-brand/Strategy_yr6i8z.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Free up your IT staff to focus on strategic initiatives by leveraging our managed IT services.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>
        </div>

        <div class="ctn-section-two-cn-ctn">
            <div class="service-ctn-header">
                <h3>How We Can Help</h3>
            </div>

            <div class="ctn-section-two-cn-ctn-box-ctn">
                <div class="swiper-wrapper">
                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Secure Cloud Solutions</h2>
                        <p>Migrate your financial data to secure and scalable cloud infrastructure, ensuring data availability and regulatory compliance.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Cybersecurity Services</h2>
                        <p>Implement comprehensive security solutions to protect against cyberattacks and data breaches.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Data Encryption and Access Control</h2>
                        <p>Ensure the confidentiality and integrity of sensitive data.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Managed IT Services</h2>
                        <p>Outsource day-to-day IT tasks to our team of experts, allowing your staff to focus on core initiatives.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Robotic Process Automation (RPA)</h2>
                        <p>Enhance efficiency in back-office operations by automating repetitive tasks, allowing your staff to focus on higher-value activities.</p>
                    </div>
                </div>

                <ul class="control" id="custom-control">
                    <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                    <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                </ul>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Use Case</span>
                <h2>The Problem</h2>
                <p>A government Agency in a large state faced a critical dilemma - their legacy IT infrastructure was outdated and struggling to handle the growing number of online requests. This resulted in long wait times, inefficient processes, and security vulnerabilities. Additionally, complying with evolving data privacy regulations like HIPAA was becoming increasingly burdensome.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-swiper">
                <div class="updated-swiper-ctn-header">
                    <span>The Solution</span>
                    <h2>A comprehensive government IT transformation strategy was implemented which included:</h2>
                </div>

                <div class="updated-swiper-ctn">
                    <div class="updated-swiper-ctn-grid active">
                        <div class="updated-swiper-ctn-grid-box">
                            <p>The Agency’s data and applications were migrated to a secure and scalable cloud environment, ensuring data availability, improved performance, and enhanced security.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Devtegrate conducted thorough security assessments to identify and address any weaknesses in Mercy General's IT infrastructure.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>A user-friendly portal that streamlined online services like vehicle registration and driver's license renewals, reducing wait times and improving satisfaction.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Automated tools and expert guidance were implemented to simplify compliance with data privacy regulations, freeing up staff to focus on core services.</p>
                        </div>
                    </div>

                    <div class="updated-swiper-ctn-grid">
                        <div class="updated-swiper-ctn-grid-box">
                            <p>50% Reduction in Wait Times improving overall service efficiency.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Migration to the secure cloud environment and advanced security solutions minimized the risk of data breaches.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Automated tools and expert guidance simplified compliance efforts, saving time and resources for the agency.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>The user-friendly portal and improved service delivery led to a significant increase in satisfaction.</p>
                        </div>
                    </div>
                </div>

                <div class="updated-swiper-btn">

                    <div class="updated-swiper-identifier active">
                        <span>The Solution</span>
                        <div class="identifier"></div>
                    </div>

                    <div class="updated-swiper-liner"></div>

                    <div class="updated-swiper-identifier">
                        <div class="identifier"></div>
                        <span>The Result</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="inspiration-banner">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">
            
            <div class="inspiration-banner-content">
                <div class="inspiration-banner-content-text">
                    <h2>Compliance Done Right: Minimize Risk, Maximize Trust</h2>
                    <p>In today's data-driven environment, businesses are entrusted with safeguarding sensitive information – customer data, employee records, financial transactions. Protecting this information is not only an ethical responsibility, but also a legal requirement.</p>
                    <a href="https://calendly.com/devtegrate">
                        <span>Learn more about our security and compliance service</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>
                </div>

                <div class="inspiration-banner-content-img">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Image">
                </div>
            </div>
        </div>


        {% include 'components/footer.html' %}
    {% endblock %}