{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526213/devtegrate-images/pexels-tomfisk-5462674_lwtr7f.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Modernize Government IT. Deliver Exceptional Services.</h2>
                <p>Cost-effective solutions for a more secure and efficient government. Let us help you navigate compliance, modernize legacy systems, and achieve your security goals.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Talk To An Expert IT Consultant Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <div class="service-ctn-position">
                    <h2>Safeguard federal, state and local data to ensure seamless service delivery and modernize your IT infrastructure with our proven solutions.</h2>
                    <p>In today's digital age, government agencies face a growing challenge: balancing the need for efficient federal, state and local services with robust data security. Devtegrate understands the unique needs of the government sector.</p>
                    <p>We offer a comprehensive suite of secure, scalable, and cost-effective solutions to help you:</p>
                    <a href="https://calendly.com/devtegrate">
                        <span>Talk To An Expert IT Consultant Today!</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>
                </div>

                <div class="service-ctn-position-content">
                    <img class="service-ctn-position-content-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720525965/devtegrate-images/abstract-green-background-from-brilliant-mosaic-pattern-generative-ai1_tg7mxt.jpg" alt="Devtegrate Cloud Services">
                </div>
            </div>
        </div>

        <div class="reverse-service-ctn">
            <div class="reverse-service-ctn-position-content">
                <img class="reverse-service-ctn-position-content-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526851/devtegrate-images/Artboard_9_beshet.jpg" alt="Devtegrate Cloud Services">
            </div>

            <div class="reverse-service-ctn-header">
                <div class="reverse-service-ctn-position">
                    <h4>We offer a comprehensive suite of secure, scalable, and cost-effective solutions to help you:</h4>
                    <li>Protect citizen data from cyber threats with our advanced security solutions and compliance expertise.</li>
                    <li>Streamline operations and improve efficiency by migrating to a secure cloud infrastructure.</li>
                    <li>Modernize outdated systems to enhance security, performance, and user experience.</li>
                    <li>Free up your IT staff to focus on strategic initiatives by leveraging our managed IT services.</li>
                </div>
            </div>
        </div>

        <div class="ctn-section-two-cn-ctn background-color">
            <div class="service-ctn-header">
                <h3>How We Can Help</h3>
            </div>

            <div class="ctn-section-two-cn-ctn-box-ctn">
                <div class="swiper-wrapper">
                    <div class="ctn-section-two-cn-ctn-box">
                        
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526852/devtegrate-images/Artboard_12_iys8ze.jpg" alt="Devtegrate Cloud Services">

                        <div class="ctn-section-two-cn-ctn-box-content">
                            <h2>Secure Cloud Solutions</h2>
                            <p>Migrate your financial data to secure and scalable cloud infrastructure, ensuring data availability and regulatory compliance.</p>
                        </div>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526017/devtegrate-images/person-working-html-computer_23-2150038860_el08zk.jpg" alt="Devtegrate Cloud Services">

                        <div class="ctn-section-two-cn-ctn-box-content">
                            <h2>Cybersecurity Services</h2>
                            <p>Implement comprehensive security solutions to protect against cyberattacks and data breaches.</p>
                        </div>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526851/devtegrate-images/Artboard_9_beshet.jpg" alt="Devtegrate Cloud Services">

                        <div class="ctn-section-two-cn-ctn-box-content">
                            <h2>Data Encryption and Access Control</h2>
                            <p>Ensure the confidentiality and integrity of sensitive federal, state and local data.</p>
                        </div>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720525975/devtegrate-images/business-people-meeting_53876-15178_sszxcn.jpg" alt="Devtegrate Cloud Services">

                        <div class="ctn-section-two-cn-ctn-box-content">
                            <h2>Managed IT Services</h2>
                            <p>Outsource day-to-day IT tasks to our team of experts, allowing your staff to focus on core initiatives.</p>
                        </div>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526017/devtegrate-images/female-engineer-red-hard-hat-programming-industrial-robot-arm-via-tablet_73899-44018_buf86y.jpg" alt="Devtegrate Cloud Services">

                        <div class="ctn-section-two-cn-ctn-box-content">
                            <h2>Robotic Process Automation (RPA)</h2>
                            <p>Enhance efficiency in back-office operations by automating repetitive tasks, allowing your staff to focus on higher-value activities.</p>
                        </div>
                    </div>
                </div>

                <ul class="control" id="custom-control">
                    <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                    <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                </ul>
            </div>
        </div>

        <div class="inspiration-banner">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526853/devtegrate-images/Artboard_15_j1ux4i.jpg" alt="Devtegrate Image">
            
            <div class="inspiration-banner-content">
                <div class="inspiration-banner-content-text">
                    <h2>Use Case: The Problem</h2>
                    <p>A government Agency in a large state faced a critical dilemma - their legacy IT infrastructure was outdated and struggling to handle the growing number of online citizen requests. This resulted in long wait times, inefficient processes, and security vulnerabilities. Additionally, complying with evolving data privacy regulations like HIPAA was becoming increasingly burdensome.</p>

                    <a href="https://calendly.com/devtegrate">
                        <span>Schedule a Free Consultation Today!</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>
                </div>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <div class="service-ctn-position">
                    <h2>The Solution:</h2>
                    <h3>A comprehensive government IT transformation strategy was implemented which included:</h3>

                    <li>The Agency’s data and applications were migrated to a secure and scalable cloud environment, ensuring data availability, improved performance, and enhanced security.</li>

                    <li>A user-friendly citizen portal that streamlined online services like vehicle registration and driver's license renewals, reducing wait times and improving citizen satisfaction.</li>

                    <li>Automated tools and expert guidance were implemented to simplify compliance with data privacy regulations, freeing up staff to focus on core services.</li>
                </div>

                <div class="service-ctn-position-content">
                    <img class="image-height service-ctn-position-content-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720525954/devtegrate-images/flat-lay-abstract-composition-with-innovation-elements_23-2148909024_kcpvqv.jpg" alt="Devtegrate Cloud Services">
                </div>
            </div>
        </div>

        <div class="reverse-service-ctn">
            <div class="reverse-service-ctn-position-content">
                <img class="reverse-service-ctn-position-content-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526210/devtegrate-images/top-view-workers-checking-statistical-documents_uwjfys.jpg" alt="Devtegrate Cloud Services">
            </div>

            <div class="reverse-service-ctn-header">
                <div class="reverse-service-ctn-position">
                    <h2>Results:</h2>
                    <li>50% Reduction in Wait Times improving overall service efficiency.</li>
                    <li>Migration to the secure cloud environment and advanced security solutions minimized the risk of data breaches.</li>
                    <li>Automated tools and expert guidance simplified compliance efforts, saving time and resources for the agency.</li>
                    <li>The user-friendly portal and improved service delivery led to a significant increase in citizen satisfaction.</li>

                    <a href="https://calendly.com/devtegrate">
                        <span>Schedule a Free Consultation Today!</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>
                    
                </div>
            </div>
        </div>

        {% include 'components/footer.html' %}
    {% endblock %}