{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Navigate Healthcare Regulations with Confidence.</h2>
                <p>Your Trusted Partner in HIPAA Compliance and Data Security.</p>

                <a href="">
                    <span>Get a Free HIPAA Compliance Assessment</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <!--<div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="ctn-section-header-ctn">
                <h2>Devtegrate Cloud Automation</h2>
                <h3>Overview of Devtegrate's Cloud Services</h3>
                <div class="btn-ctn">
                    <a href="">
                        <span>More Information</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>

                    <a href="">
                        <span>Consult with us?</span>
                    </a>
                </div>
            </div>
        </div>-->

        <div class="service-ctn">
            <div class="service-ctn-header">
                <!--<span class="service-header-span">Software Development</span>-->
                <h2>Worried About Data Breaches in Healthcare? There's a Better Way.</h2>
                <p>Our proven solutions simplify compliance processes, safeguard patient data, and empower your organization to focus on what matters most: delivering exceptional patient care.</p>
                <p>Your Hospital can have:</p>
                <a href="">
                    <span>Schedule a Free Consultation With A Compliance Expert</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <!--<div class="service-ctn-grid">
                <li><strong>Enhanced Security Posture:</strong> Protect sensitive patient data from cyberattacks with our advanced cybersecurity solutions.</li>

                <li><strong>Streamlined HIPAA Compliance:</strong> Simplify compliance processes and ensure adherence to regulations with our expert guidance and software tools.</li>

                <li><strong>Reduced Risk and Costs:</strong> Minimize the risk of data breaches and hefty fines associated with non-compliance.</li>

                <li><strong>Improved Patient Trust:</strong> Build stronger patient relationships by demonstrating your commitment to data privacy and security.</li>

                <li><strong>Increased Operational Efficiency:</strong> Automate tasks and workflows to free up your IT staff to focus on strategic initiatives.</li>
            </div>-->

            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719587708/devtegrate-brand/Security_Configuration_gvfjed.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Enhanced Security Posture</h2>
                            <p>Protect sensitive patient data from cyberattacks with our advanced cybersecurity solutions.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719584532/devtegrate-brand/Test_Passed_cliteo.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Streamlined HIPAA Compliance</h2>
                            <p>Simplify compliance processes and ensure adherence to regulations with our expert guidance and software tools.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719584532/devtegrate-brand/Test_Passed_cliteo.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Reduced Risk and Costs</h2>
                            <p>Minimize the risk of data breaches and hefty fines associated with non-compliance.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719587906/devtegrate-brand/Trust_xzmiso.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Improved Patient Trust</h2>
                            <p>Build stronger patient relationships by demonstrating your commitment to data privacy and security.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719587881/devtegrate-brand/Increase_1_bfpgho.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <h2>Increased Operational Efficiency</h2>
                            <p>Automate tasks and workflows to free up your IT staff to focus on strategic initiatives.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>

        </div>

        <!--<div class="ctn-section-two">
            <div class="ctn-section-two-cn">
                <h2>Understanding Devtegrate Cloud Automation</h2>
                <p>Devtegrate Cloud Services is an advanced solution that can help businesses automate their IT infrastructure and applications in the cloud. Devtegrate Cloud Services can provide businesses with a range of tools and services that can streamline their operations. By leveraging cloud automation, businesses can optimize their IT operations, reduce costs, and enhance efficiency.</p>

                <p>Devtegrate Cloud Services is a cutting-edge cloud-based solution that assists businesses in automating their IT infrastructure and applications in the cloud. The process of cloud automation is fundamental to Devtegrate Cloud Services as it allows businesses to optimize their IT operations and enhance efficiency. Here are some ways that Devtegrate Cloud Services can support businesses with cloud automation.</p>
            </div>

            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718723200/devtegrate-updates/Artboard_7_hsnpvj.png" alt="Devtegrate Cloud Images">
        </div>-->

        <div class="ctn-section-two-cn-ctn">
            <div class="service-ctn-header">
                <h3>How We Can Help</h3>
            </div>

            <div class="ctn-section-two-cn-ctn-box-ctn">
                <div class="swiper-wrapper">
                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Compliance Management Software</h2>
                        <p>Implement user-friendly solutions to manage compliance processes, track regulations, and automate reporting.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Cybersecurity Services</h2>
                        <p>Implement comprehensive security solutions to protect against cyberattacks and data breaches.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Data Security Solutions</h2>
                        <p>We offer a comprehensive suite of tools to safeguard patient data, including encryption, access controls, and intrusion detection.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Vulnerability Assessments and Penetration Testing</h2>
                        <p>Identify and address security weaknesses in your IT infrastructure before cybercriminals exploit them.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Ongoing Security Monitoring and Support</h2>
                        <p>We provide 24/7 monitoring and a dedicated team of security experts to address any threats that may arise.</p>
                    </div>
                </div>

                <ul class="control" id="custom-control">
                    <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                    <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                </ul>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Use Case</span>
                <h2>The Problem</h2>
                <p>A renowned healthcare facility with a growing patient base, faced increasing complexity in managing HIPAA compliance. Their manual processes were time-consuming, error-prone, and made it difficult to keep pace with evolving regulations. Additionally, concerns around data security and potential breaches were a growing concern.</p>

                <a href="">
                    <span>Schedule a Free Consultation Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-swiper">
                <div class="updated-swiper-ctn-header">
                    <span>The Solution</span>
                    <h2>Working with an expert team, a comprehensive HIPAA compliance solution was implemented which included:</h2>
                </div>

                <div class="updated-swiper-ctn">
                    <div class="updated-swiper-ctn-grid active">
                        <div class="updated-swiper-ctn-grid-box">
                            <h2>Compliance Management Software</h2>
                            <p>Devtegrate implemented user-friendly software that automated key compliance tasks, such as risk assessments, policy management, and employee training.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <h2>Vulnerability Assessments and Penetration Testing</h2>
                            <p>Devtegrate conducted thorough security assessments to identify and address any weaknesses in Mercy General's IT infrastructure.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <h2>HIPAA Compliance Training</h2>
                            <p>Devtegrate provided comprehensive HIPAA compliance training for all staff members, ensuring everyone understood their data security responsibilities.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <h2>Ongoing Support</h2>
                            <p>Devtegrate established an ongoing support program to monitor compliance progress, offer guidance on new regulations, and address any security concerns that might arise.</p>
                        </div>
                    </div>

                    <div class="updated-swiper-ctn-grid">
                        <div class="updated-swiper-ctn-grid-box">
                            <h2>Reduced Time Spent on Compliance</h2>
                            <p>Automation and streamlined processes freed up IT staff to focus on other critical initiatives.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <h2>Enhanced Security Posture</h2>
                            <p>Vulnerability assessments and ongoing monitoring minimized the risk of data breaches.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <h2>Improved Staff Awareness</h2>
                            <p>Comprehensive training ensured staff were well-equipped to handle patient data securely.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <h2>Increased Confidence in HIPAA Compliance</h2>
                            <p>Devtegrate's expertise and ongoing support provided peace of mind for hospital administrators.</p>
                        </div>
                    </div>
                </div>

                <div class="updated-swiper-btn">

                    <div class="updated-swiper-identifier active">
                        <span>The Solution</span>
                        <div class="identifier"></div>
                    </div>

                    <div class="updated-swiper-liner"></div>

                    <div class="updated-swiper-identifier">
                        <div class="identifier"></div>
                        <span>The Result</span>
                    </div>
                </div>
            </div>

            <!--<div class="service-ctn-grid">
                <li>The Agency’s data and applications were migrated to a secure and scalable cloud environment, ensuring data availability, improved performance, and enhanced security.</li>

                <li>A user-friendly citizen portal that streamlined online services like vehicle registration and driver's license renewals, reducing wait times and improving citizen satisfaction.</li>
                
                <li>Automated tools and expert guidance were implemented to simplify compliance with data privacy regulations, freeing up staff to focus on core services.</li>
            </div>

            <div class="service-ctn-header">
                <p><strong>Results:</strong></p>
            </div>

            <div class="service-ctn-grid">
                <li>50% Reduction in Wait Times improving overall service efficiency.</li>

                <li>Migration to the secure cloud environment and advanced security solutions minimized the risk of data breaches.</li>
                
                <li>Automated tools and expert guidance simplified compliance efforts, saving time and resources for the agency.</li>

                <li>The user-friendly portal and improved service delivery led to a significant increase in citizen satisfaction.</li>
            </div>-->
        </div>
        {% include 'components/footer.html' %}
    {% endblock %}