{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>DEVTEGRATE.</h2>
                <h3>INSPIRATION</h3>
                <p>Explore our services, scroll through our satisfied clients and understand our professional viewpoint on cloud services, automation and integration.</p>
            </div>
        </div>

        <div class="grid-ctn">
            <div class="grid-ctn-content">
                <div class="grid-ctn-content-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696862528/devtegrate-updates/download_2_xyu9nm.png" alt="Devtegrate Cloud Images">
                    <h4>National Basketball Association</h4>
                    <p>With the technical documentation of NBA pipelines for API integration, working with this innovation depicts the nature of future technological evolution.</p>
                    <span>DevOps Expert</span>
                </div>

                <div class="grid-ctn-content-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/autostore_zwuzf9-removebg-preview_qyqwco.png" alt="Devtegrate Cloud Images">
                    <h4>AutoStore</h4>
                    <p>Site reliability is of keen importance when creating a new infrastructure. A reliable site means a trusted structure of automated codes, monitoring, maintenance and management as well as scalability.</p>
                    <span>DevOps Expert</span>
                </div>

                <div class="grid-ctn-content-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718723246/devtegrate-updates/signature-flight-support-logo-9F16518005-seeklogo.com_ivrekj.png" alt="Devtegrate Cloud Images">
                    <h4>Signature Aviation</h4>
                    <p>Cloud infrastructure connote the need to make cloud services always available, creating automated pipelines using CI/CD and Azure DevOps to render satisfactory service to our clients.</p>
                    <span>DevOps Expert</span>
                </div>

                <div class="grid-ctn-content-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136554/devtegrate/landstar_gnv2jr-removebg-preview_nyr5zk.png" alt="Devtegrate Cloud Images">
                    <h4>Landstar</h4>
                    <p>Microsoft Azure provides one of the best cloud server tools and with the integration of Azure Kubernetes Service (AKS), monitoring, maintenance and management of system infrastructures is so seamless and easy.</p>
                    <span>DevOps Expert</span>
                </div>

                <div class="grid-ctn-content-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/hardrock_mzhbsm-removebg-preview_uuogdg.png" alt="Devtegrate Cloud Images">
                    <h4>Hardrock Cafe</h4>
                    <p>Azure DevOps provides some of the best working tools for the dockerization of applications and the use of Kubernetes cluster seems so easy and swift to automate and has earlier mentioned create pipelines for services hosted on kubernetes.</p>
                    <span>DevOps Expert</span>
                </div>

                <div class="grid-ctn-content-box">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696863305/devtegrate-updates/download_3_kl3cfx.png" alt="Devtegrate Cloud Images">
                    <h4>Disney</h4>
                    <p>Using terraforms introduces the feel of infrastructure as code and with the support of atlantis to automate the process being overly monitored by terraform makes development and CI/CD process easier.</p>
                    <span>DevOps Expert</span>
                </div>
            </div>

            <div class="grid-ctn-content-text">
                <div class="grid-ctn-content-text-details">
                    <h2>AWS. Our Developers. The DevOps Team.</h2>
                    <h3>Hear what Our Team has to say</h3>
                </div>
            </div>
        </div>

        <div class="inspiration-banner">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">
            
            <div class="inspiration-banner-content">
                <div class="inspiration-banner-content-text">
                    <h2>Make that Great leap in Your Career Towards Greatness</h2>
                    <p>We create, we innovate and we deploy softwares, setting up its infrastructure on the cloud, in line with its development life cycle, a core requirement for its set up, with our clients being satisfied tech giants, confident in the service we provide.</p>
                </div>

                <div class="inspiration-banner-content-img">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Image">
                </div>
            </div>
        </div>

        <div class="inspiration-content-log">
            <div class="inspiration-content-log-text">
                <span>Continuous Integration...    Continuous Deployment...</span>
                <h2>Continuous integration (CI) and continuous deployment (CD)</h2>
                <p>Continuous integration (CI) and continuous deployment (CD) are two closely related practices that are commonly used in software development. Both involve automating the process of building, testing, and releasing software, but they have slightly different goals and focus on different stages of the development process.</p>
                
                <p>CI is a practice that aims to make it easy for developers to integrate their code changes into a shared codebase. This typically involves setting up a build server that can automatically build the software, run tests, and report any errors that are found. By continuously integrating code changes, developers can quickly detect and fix conflicts or bugs that may arise from merging different code changes together. This can help to reduce the time and effort required to integrate code changes, and can also improve the overall stability and quality of the codebase.</p>

                <p>CD, on the other hand, is a practice that focuses on automating the process of releasing software to production. This typically involves setting up a deployment pipeline that can automatically build, test, and deploy the software to different environments, such as development, staging, and production. By continuously deploying software, developers can quickly and easily release new features and bug fixes to users, without having to manually perform the deployment process. This can help to reduce the time and effort required to release software, and can also improve the reliability and consistency of the deployment process.</p>

                <p>Together, CI and CD can help to improve the speed and reliability of the software development process. By automating the build, test, and deployment process, developers can focus on writing code and implementing new features, rather than spending time on manual tasks such as building and deploying software. This can help to reduce the time and effort required to release new software, and can also improve the overall quality and stability of the software.</p>
            </div>

            <div class="inspiration-content-log-img">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1695918488/devtegrate/Operating_system-rafiki_l4qtm8.png" alt="Devtegrate Cloud Images">
            </div>
        </div>
        
        {% include 'components/faq.html' %}
        {% include 'components/footer.html' %}
    {% endblock %}