{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Feeling Overwhelmed by Security and Compliance?</h2>
                <p>We Help Businesses Like Yours Navigate Regulations and Achieve Compliance Confidence.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Get Your Compliance Questions Answered</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">How We Can Help With Security Compliance</span>
                <h2>Compliance Done Right: Minimize Risk, Maximize Trust</h2>
                <p>In today's data-driven environment, businesses are entrusted with safeguarding sensitive information – customer data, employee records, financial transactions. Protecting this information is not only an ethical responsibility, but also a legal requirement.</p>
                <p>Numerous industry regulations and data privacy laws dictate the security measures businesses must implement to ensure proper data handling and protection.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Get Your Free Compliance Assessment</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596393/devtegrate-brand/Security_Lock_idyjkm.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Reduce Risk of Financial Penalties</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719602833/devtegrate-brand/Security_Configuration_1_ylmqtl.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Implement the recommended security controls and best practices</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596378/devtegrate-brand/Data_Protection_hkzp22.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Help you comply with data privacy regulations which builds trust and confidence with clients and business partners</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719602892/devtegrate-brand/Privacy_Policy_pi6pf9.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Handle the complexities of assessments, policy development, and training based on compliance requirements</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719584532/devtegrate-brand/Test_Passed_cliteo.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Ongoing Support for Continued Compliance</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>

            
        </div>

        <div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <!--<p>Get insights on what we do and how we do it.</p>-->
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can you help me achieve compliance with a specific regulation like HIPAA, GDPR
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Yes! Our team has extensive experience in various industry regulations and data privacy laws. We can tailor our services to meet your specific needs, regardless of the regulation you're subject to.
                  </p>

                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Is Security Compliance a One-Time Process?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <p>
                    No! Regulations evolve, security threats change, and employee awareness needs refreshing. We offer ongoing support (assessments, training, control updates) to keep you compliant.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What are some signs my business might be non-compliant?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <p>Some red flags include:</p>
                    <li>Lack of awareness of relevant regulations</li>
                    <li>Outdated or inadequate security policies</li>
                    <li>Missing or insufficient security controls</li>
                    <li>Difficulty demonstrating compliance during audits</li>
                    <li>History of data breaches or security incidents</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can the cloud scale with my growing business?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Absolutely! A key advantage of the cloud is its scalability. You can easily adjust your cloud resources (storage, processing power) up or down as your business needs evolve, without the limitations of on-premise infrastructure.
                  </p>

                </div>
              </div>

              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How Much Do Security Compliance Services Cost?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Costs vary depending on your business size, regulations, and service level. We offer consultations and transparent pricing to find the right fit for your budget.
                  </p>

                </div>
              </div>
            </div>
          </div>

        {% include 'components/footer.html' %}
    {% endblock %}