{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Feeling Overwhelmed by Security Compliance?</h2>
                <p>We Help Businesses Like Yours Navigate Regulations and Achieve Compliance Confidence.</p>

                <a href="">
                    <span>Get Your Compliance Questions Answered</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">How We Can Help With Security Compliance</span>
                <h2>Compliance Done Right: Minimize Risk, Maximize Trust</h2>
                <p>In today's data-driven environment, businesses are entrusted with safeguarding sensitive information – customer data, employee records, financial transactions. Protecting this information is not only an ethical responsibility, but also a legal requirement.</p>
                <p>Numerous industry regulations and data privacy laws dictate the security measures businesses must implement to ensure proper data handling and protection.</p>

                <a href="">
                    <span>Get Your Free Compliance Assessment</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="service-ctn-grid">
                <li>Reduce Risk of Financial Penalties</li>
                <li>Implement the recommended security controls and best practices </li>
                <li>Help you comply with data privacy regulations which builds trust and confidence with clients and business partners</li>
                <li>Handle the complexities of assessments, policy development, and training based on compliance requirements</li>
                <li>Ongoing Support for Continued Compliance</li>

                <!--<div class="service-ctn-grid-box">
                    <h3>Encryption and Data Security:</h3>
                    <p>All data is encrypted during transmission and at rest, providing an additional layer of protection against unauthorized access. Devtegrate employs state-of-the-art encryption algorithms to safeguard healthcare information.</p>
                </div>

                <div class="service-ctn-grid-box">
                    <h3>Access Controls and Authentication:</h3>
                    <p>Granular access controls and strong authentication mechanisms are implemented to ensure that only authorized personnel have access to patient data. This helps prevent data breaches and unauthorized disclosures.</p>
                </div>

                <div class="service-ctn-grid-box">
                    <h3>Auditing and Monitoring:</h3>
                    <p>Devtegrate's solutions include robust auditing and monitoring features, allowing healthcare organizations to track and review access logs, changes to data, and potential security incidents. This proactive approach enhances the ability to detect and respond to security threats promptly.</p>
                </div>-->
            </div>
        </div>

        <!--<div class="service-position-content">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="service-position-content-ctn">
                <div class="service-position-content-ctn-flex">
                    <div class="service-position-content-ctn-flex-cn">
                        <span>Development.    Integration.    Devtegration.</span>
                        <h2>AZURE GOVERNMENT SERVICES.</h2>
                        <p>Azure Government is a specialized cloud platform designed to meet the unique needs of government entities. It provides a dedicated environment that complies with stringent security and compliance standards specific to the public sector. Devtegrate's focus on Azure Government services ensures that government agencies have access to a cloud platform designed to address the specific requirements and regulations governing the public sector.</p>

                        <p>By focusing on the specific security and compliance needs of the public sector, Devtegrate enables government entities to harness the benefits of cloud technology while maintaining the highest standards of data integrity and security.</p>
                    </div>

                    <div class="service-position-content-ctn-flex-cn-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696513080/devtegrate/Business_support-amico_aqggl2.png" alt="Devtegrate Cloud Images">
                    </div>
                </div>

                <div class="service-liner"></div>

                <div class="service-extra">
                    <div class="service-extra-ctn">
                        <span>Automation | DevOps | Cloud Services</span>
                        <h2>Devtegrate Cloud Services and Consultation</h2>
                        <p>Devtegrate is dedicated to enhancing organizational structures, with a primary focus on "on-premise and cloud infrastructure" to facilitate swift and efficient business operations.</p>
                        <a href="">
                            <span>Schedule a Consultation</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="service-position-two-content-ctn-flex">
                    <div class="service-position-two-content-ctn-flex-cn-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967878/devtegrate-brand/Artboard_9_k3wsmj.png" alt="Devtegrate Cloud Images">
                    </div>

                    <div class="service-position-two-content-ctn-flex-cn">
                        <span>Development.    Integration.    Devtegration.</span>
                        <h2>INFRASTRUCTURE AS A SERVICE.</h2>
                        <p>IaaS is a cloud computing model in which a third-party provider delivers infrastructure resources over the internet. This includes physical servers, storage, and networking capabilities. With IaaS, businesses can access the infrastructure they need on a pay-as-you-go basis, without having to purchase and maintain their own hardware. This can save businesses significant upfront costs and ongoing maintenance expenses.</p>
                        <p>Devtegrate offers IaaS solutions that are scalable, flexible, and secure. Their IaaS offerings include virtual private servers (VPS), which allow businesses to have their own dedicated server resources, as well as shared hosting and cloud storage solutions. Devtegrate's IaaS solutions are designed to meet the needs of businesses of all sizes, from small startups to large enterprises.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ctn-section-three">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967875/devtegrate-brand/Artboard_10_d5pcoc.png" alt="Devtegrate Cloud Images">

            <div class="ctn-section-three-cn">
                <h3>PLATFORM AS A SERVICE (PAAS).</h3>
                <span>DevOps. Cloud Service. Automation.</span>
                <p>PaaS is a cloud computing model in which a third-party provider delivers a platform for developers to build, test, and deploy applications. The platform includes all the necessary tools, frameworks, and infrastructure resources needed to develop and deploy applications. With PaaS, businesses can access the tools and resources they need to develop and deploy applications without having to purchase and maintain their own hardware and software.</p>

                <p>Devtegrate offers PaaS solutions that are designed to meet the needs of developers and businesses. Their PaaS offerings include a range of tools and resources, such as integrated development environments (IDEs), version control systems, and databases. Devtegrate's PaaS solutions are designed to be flexible and scalable, allowing businesses to easily adapt to changing needs and demands.</p>
            </div>
        </div>-->

        <div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <!--<p>Get insights on what we do and how we do it.</p>-->
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can you help me achieve compliance with a specific regulation like HIPAA, GDPR
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Yes! Our team has extensive experience in various industry regulations and data privacy laws. We can tailor our services to meet your specific needs, regardless of the regulation you're subject to.
                  </p>

                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Is Security Compliance a One-Time Process?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <p>
                    No! Regulations evolve, security threats change, and employee awareness needs refreshing. We offer ongoing support (assessments, training, control updates) to keep you compliant.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What are some signs my business might be non-compliant?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <p>Some red flags include:</p>
                    <li>Lack of awareness of relevant regulations</li>
                    <li>Outdated or inadequate security policies</li>
                    <li>Missing or insufficient security controls</li>
                    <li>Difficulty demonstrating compliance during audits</li>
                    <li>History of data breaches or security incidents</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can the cloud scale with my growing business?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Absolutely! A key advantage of the cloud is its scalability. You can easily adjust your cloud resources (storage, processing power) up or down as your business needs evolve, without the limitations of on-premise infrastructure.
                  </p>

                </div>
              </div>

              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How Much Do Security Compliance Services Cost?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Costs vary depending on your business size, regulations, and service level. We offer consultations and transparent pricing to find the right fit for your budget.
                  </p>

                </div>
              </div>
            </div>
          </div>

        {% include 'components/footer.html' %}
    {% endblock %}