{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>DEVTEGRATE.</h2>
                <h3>Our Services</h3>
                <p>Automate, scale, and modernize product engineering with DevOps guaranteed to make your service delivery efficient and effective.</p>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Devtegrate HIPAA Services</span>
                <h2>Ensuring Healthcare Data Security: Devtegrate's HIPAA-Compliant Solutions on Azure</h2>
                <p>In the ever-evolving landscape of healthcare, the importance of data security cannot be overstated. Healthcare organizations handle vast amounts of sensitive patient information, and safeguarding this data is critical to maintaining patient trust and complying with regulatory standards. Devtegrate, a leader in innovative technology solutions, offers healthcare organizations robust and HIPAA-compliant solutions on the Azure platform to ensure the secure handling of critical health data.</p>
                <a href="">
                    <span>Get in touch with Us</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="service-ctn-grid">
                <div class="service-ctn-grid-box">
                    <h3>Encryption and Data Security:</h3>
                    <p>All data is encrypted during transmission and at rest, providing an additional layer of protection against unauthorized access. Devtegrate employs state-of-the-art encryption algorithms to safeguard healthcare information.</p>
                </div>

                <div class="service-ctn-grid-box">
                    <h3>Access Controls and Authentication:</h3>
                    <p>Granular access controls and strong authentication mechanisms are implemented to ensure that only authorized personnel have access to patient data. This helps prevent data breaches and unauthorized disclosures.</p>
                </div>

                <div class="service-ctn-grid-box">
                    <h3>Auditing and Monitoring:</h3>
                    <p>Devtegrate's solutions include robust auditing and monitoring features, allowing healthcare organizations to track and review access logs, changes to data, and potential security incidents. This proactive approach enhances the ability to detect and respond to security threats promptly.</p>
                </div>
            </div>
        </div>

        <div class="service-position-content">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="service-position-content-ctn">
                <div class="service-position-content-ctn-flex">
                    <div class="service-position-content-ctn-flex-cn">
                        <span>Development.    Integration.    Devtegration.</span>
                        <h2>AZURE GOVERNMENT SERVICES.</h2>
                        <p>Azure Government is a specialized cloud platform designed to meet the unique needs of government entities. It provides a dedicated environment that complies with stringent security and compliance standards specific to the public sector. Devtegrate's focus on Azure Government services ensures that government agencies have access to a cloud platform designed to address the specific requirements and regulations governing the public sector.</p>

                        <p>By focusing on the specific security and compliance needs of the public sector, Devtegrate enables government entities to harness the benefits of cloud technology while maintaining the highest standards of data integrity and security.</p>
                    </div>

                    <div class="service-position-content-ctn-flex-cn-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696513080/devtegrate/Business_support-amico_aqggl2.png" alt="Devtegrate Cloud Images">
                    </div>
                </div>
                <div class="service-liner"></div>

                <div class="service-extra">
                    <div class="service-extra-ctn">
                        <span>Automation | DevOps | Cloud Services</span>
                        <h2>Devtegrate Cloud Services and Consultation</h2>
                        <p>Devtegrate is dedicated to enhancing organizational structures, with a primary focus on "on-premise and cloud infrastructure" to facilitate swift and efficient business operations.</p>
                        <a href="">
                            <span>Schedule a Consultation</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="ctn-section-two-cn-ctn">
                    <div class="ctn-section-two-cn-ctn-box-ctn">
                        <div class="swiper-wrapper">
                            <div class="ctn-section-two-cn-ctn-box">
                                <h2>Infrastructure as a service</h2>
                                <p>Devtegrate offers IaaS solutions that are scalable, flexible, and secure. Their IaaS offerings include virtual private servers (VPS), which allow businesses to have their own dedicated server resources, as well as shared hosting and cloud storage solutions. Devtegrate's IaaS solutions are designed to meet the needs of businesses of all sizes, from small startups to large enterprises.</p>
                            </div>

                            <div class="ctn-section-two-cn-ctn-box">
                                <h2>Data Centers</h2>
                                <p>At the core of our cloud infrastructure are our data centers, which are located in multiple regions across the world. Our data centers are designed to provide high availability, scalability, and security for our clients' applications and data. They are equipped with redundant power supplies, cooling systems, and network connections to ensure continuous uptime and availability.</p>
                            </div>

                            <div class="ctn-section-two-cn-ctn-box">
                                <h2>Optimized Performance</h2>
                                <p>Our cloud infrastructure is also designed to provide high performance for applications and workloads. We use the latest hardware and networking technologies to ensure fast and reliable performance. Our infrastructure is also optimized for different types of workloads, such as compute-intensive, memory-intensive, and storage-intensive workloads.</p>
                            </div>

                            <div class="ctn-section-two-cn-ctn-box">
                                <h2>Cloud Services</h2>
                                <p>In addition to our infrastructure, we provide a wide range of cloud services that enable our clients to run their applications and workloads in the cloud. These services include compute services, storage services, networking.</p>
                            </div>
                        </div>

                        <ul class="control" id="custom-control">
                            <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                            <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="ctn-section-three">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718723200/devtegrate-updates/Artboard_7_hsnpvj.png" alt="Devtegrate Cloud Images">

            <div class="ctn-section-three-cn">
                <h3>Our expert team</h3>
                <span>DevOps. Cloud Service. Automation.</span>
                <p>We have a team of professionals with expertise in various technological and programming stacks, including expert DevOps services certified in the use of Amazon Web Services (AWS), Microsoft Azure, Google Cloud Platform, and Oracle Cloud Service. Our vast knowledge in utilizing various tools for automation processes, CI/CD actions, containerization of applications, monitoring, logging, and other service requirements make us one of the leading organizations in Cloud formation, infrastructure, and automation.</p>

                <p>Some of our notable clients include National Basketball Association (NBA), Hard Rock Cafe, Disney, and AutoStore, who have all testified to our competence in using a collaboration of tools to automate deployments. We have a dedicated team to support application deployment, and a vast experience working in the cloud space.</p>

                <p>Devtegrate also possesses experience working with DOD security applications, also known as DevSecOps, which combines software development (Dev), security (Sec), and information technology operations (Ops) to secure outcomes and shorten the development lifecycle. Our aim is to lead the market in being a force to reckon with in DevOps and Cloud Infrastructure, as well as to solve market needs in cloud or "on-premise cloud infrastructure."</p>
            </div>
        </div>

        {% include 'components/footer.html' %}
    {% endblock %}