{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526851/devtegrate-images/Artboard_6_slrwuq.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Struggling with cloud costs?</h2>
                <p>Simplify Your Cloud & Cut Costs - Get expert cloud management that delivers visibility and control.</p>

                <div class="secondary-ctn-section-header-ctn-flex">
                    <a class="animationBtn" href="{{ url_for('static', filename='documents/Devtegrate-Offerings.pdf') }}">
                        More About Our Service Offerings
                        <i class='bx bxs-chevron-right'></i>
                    </a>

                    <a class="animationBtn" href="javascript:void(0);" onclick="redirectToCloudService()">
                        <input type="checkbox" id="cloud-checkbox" name="next">
                        New to Cloud? Click Here
                    </a>
                </div>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <div class="service-ctn-position">
                    <div class="new-update-box">
                        <img class="new-update-box-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720525966/devtegrate-images/pexels-darlene-alderson-4389743_gugabe.jpg" alt="Devtegrate Cloud Services">
                        <div class="new-update-box-ctn">
                            <span class="service-header-span">How We Can Help</span>
                            <h2>Unleash the Hidden Potential of Your Cloud: Optimize & Save</h2>
                        </div>
                    </div>

                    <a class="lgBtn" href="https://calendly.com/devtegrate">
                        Schedule a Free Consultation Today!
                        <i class='bx bxs-chevron-right'></i>
                    </a>
                </div>

                <div class="service-ctn-position-content">
                    <p>Are you already using cloud services but feeling the pinch of rising costs? Are you unsure if your cloud environment is performing at its peak efficiency? You're not alone. Many businesses struggle to optimize their cloud deployments, leaving hidden potential untapped and incurring unnecessary expenses.</p>

                    <p>That's where we come in. Our cloud optimization services can help you unlock the full potential of your existing cloud investment and achieve significant benefits</p>
                </div>
            </div>

            <div class="updated-asset">
              <div class="updated-asset-grid">
                <!-- Updated Asset Start -->
                <div class="updated-asset-box">
                  <div class="updated-asset-img">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530457/devtegrate-images/computer_rnnhxd.png" alt="Devtegrate Cloud Services">
                  </div>

                        <div class="updated-asset-ctn">
                            <p>Pinpoint areas where you're overpaying for resources</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530456/devtegrate-images/automation_g9m5h2.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Negotiate better pricing with your cloud providers</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530476/devtegrate-images/file_dgtih1.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Help you achieve a true pay-per-use model and maximize your return on investment</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530621/devtegrate-images/startup_brva2a.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Boost Cloud Performance & Eliminate Bottlenecks</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530526/devtegrate-images/script_jda1wg.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Flexibility for Changing Needs: Scale up or down without compromising performance</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530531/devtegrate-images/server_vnum2z.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Optimize your cloud infrastructure and application deployments, leading to faster application response times</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                </div>
            </div>
        </div>

        <div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <p>Get insights on what we do and how we do it.</p>
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Is moving to the cloud complicated?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Not necessarily! We offer migration services that handle the technical complexities, ensuring a smooth and secure transition for your data and applications.
                  </p>

                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Will I lose control of my data in the cloud?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <p>
                    No, you retain complete ownership and control of your data in the cloud. Cloud providers offer robust security measures to keep your data safe, potentially exceeding what you can achieve on-premise.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What happens if the internet goes down? Will I be able to access my data?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <p>
                    Most cloud providers offer high availability and redundancy, meaning your data remains accessible even in the event of an internet outage at your location.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can the cloud scale with my growing business?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Absolutely! A key advantage of the cloud is its scalability. You can easily adjust your cloud resources (storage, processing power) up or down as your business needs evolve, without the limitations of on-premise infrastructure.
                  </p>

                </div>
              </div>

              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How can I get started with the cloud without a big upfront investment?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    The cloud offers a pay-as-you-go model, so you only pay for the resources you use. This allows you to start small and scale up gradually as your needs grow, making it a cost-effective solution for businesses of all sizes.pen_spark
                  </p>

                </div>
              </div>
            </div>
          </div>

          <!--<div class="inspiration-banner">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">
            
            <div class="inspiration-banner-content">
                <div class="inspiration-banner-content-text">
                    <h2>Compliance Done Right: Minimize Risk, Maximize Trust</h2>
                    <p>In today's data-driven environment, businesses are entrusted with safeguarding sensitive information – customer data, employee records, financial transactions. Protecting this information is not only an ethical responsibility, but also a legal requirement.</p>
                    <a href="https://calendly.com/devtegrate">
                        <span>Learn more about our security and compliance service</span>
                        
                    </a>
                </div>

                <div class="inspiration-banner-content-img">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Image">
                </div>
            </div>
        </div>-->

        {% include 'components/footer.html' %}
    {% endblock %}