{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Struggling with cloud costs?</h2>
                <p>Simplify Your Cloud & Cut Costs - Get expert cloud management that delivers visibility and control.</p>
                
                <div class="secondary-ctn-section-header-ctn-flex">
                    <a href="https://calendly.com/devtegrate">
                        <span>Schedule a Free Cloud Assessment</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>

                    <a href="javascript:void(0);" onclick="redirectToCloudService()">
                        <input type="checkbox" id="cloud-checkbox" name="next">
                        <span>New to Cloud? Click Here</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">How We Can Help</span>
                <h2>Unleash the Hidden Potential of Your Cloud: Optimize & Save</h2>
                <p>Are you already using cloud services but feeling the pinch of rising costs? Are you unsure if your cloud environment is performing at its peak efficiency? You're not alone. Many businesses struggle to optimize their cloud deployments, leaving hidden potential untapped and incurring unnecessary expenses.</p>
                <p>That's where we come in. Our cloud optimization services can help you unlock the full potential of your existing cloud investment and achieve significant benefits</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a free cloud optimization assessment!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-asset">
              <div class="updated-asset-grid">
                <!-- Updated Asset Start -->
                <div class="updated-asset-box">
                  <div class="updated-asset-img">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719834756/devtegrate-brand/Coin_in_Hand_vgj5jg.png" alt="Devtegrate Cloud Services">
                  </div>

                        <div class="updated-asset-ctn">
                            <p>Pinpoint areas where you're overpaying for resources</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719855644/devtegrate-brand/Price_Comparison_ztqjbk.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Negotiate better pricing with your cloud providers</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719855671/devtegrate-brand/Investment_ht26dg.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Help you achieve a true pay-per-use model and maximize your return on investment</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719855707/devtegrate-brand/Growth_And_Flag_puln4v.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Boost Cloud Performance & Eliminate Bottlenecks</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719837517/devtegrate-brand/Fast_Download_k5qcsb.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Flexibility for Changing Needs: Scale up or down without compromising performance</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719835863/devtegrate-brand/Upload_to_Cloud_on576q.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Optimize your cloud infrastructure and application deployments, leading to faster application response times</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                </div>
            </div>

            <!--<div class="service-ctn-grid">
                <li>Pinpoint areas where you're overpaying for resources</li>
                <li>Negotiate better pricing with your cloud providers</li>
                <li>Help you achieve a true pay-per-use model and maximize your return on investment</li>
                <li>Boost Cloud Performance & Eliminate Bottlenecks</li>
                <li>Flexibility for Changing Needs: Scale up or down without compromising performance</li>
                <li>Optimize your cloud infrastructure and application deployments, leading to faster application response times</li>

                <div class="service-ctn-grid-box">
                    <h3>Encryption and Data Security:</h3>
                    <p>All data is encrypted during transmission and at rest, providing an additional layer of protection against unauthorized access. Devtegrate employs state-of-the-art encryption algorithms to safeguard healthcare information.</p>
                </div>

                <div class="service-ctn-grid-box">
                    <h3>Access Controls and Authentication:</h3>
                    <p>Granular access controls and strong authentication mechanisms are implemented to ensure that only authorized personnel have access to patient data. This helps prevent data breaches and unauthorized disclosures.</p>
                </div>

                <div class="service-ctn-grid-box">
                    <h3>Auditing and Monitoring:</h3>
                    <p>Devtegrate's solutions include robust auditing and monitoring features, allowing healthcare organizations to track and review access logs, changes to data, and potential security incidents. This proactive approach enhances the ability to detect and respond to security threats promptly.</p>
                </div>
            </div>-->
        </div>

        <!--<div class="service-position-content">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="service-position-content-ctn">
                <div class="service-position-content-ctn-flex">
                    <div class="service-position-content-ctn-flex-cn">
                        <span>Development.    Integration.    Devtegration.</span>
                        <h2>AZURE GOVERNMENT SERVICES.</h2>
                        <p>Azure Government is a specialized cloud platform designed to meet the unique needs of government entities. It provides a dedicated environment that complies with stringent security and compliance standards specific to the public sector. Devtegrate's focus on Azure Government services ensures that government agencies have access to a cloud platform designed to address the specific requirements and regulations governing the public sector.</p>

                        <p>By focusing on the specific security and compliance needs of the public sector, Devtegrate enables government entities to harness the benefits of cloud technology while maintaining the highest standards of data integrity and security.</p>
                    </div>

                    <div class="service-position-content-ctn-flex-cn-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696513080/devtegrate/Business_support-amico_aqggl2.png" alt="Devtegrate Cloud Images">
                    </div>
                </div>

                <div class="service-liner"></div>

                <div class="service-extra">
                    <div class="service-extra-ctn">
                        <span>Automation | DevOps | Cloud Services</span>
                        <h2>Devtegrate Cloud Services and Consultation</h2>
                        <p>Devtegrate is dedicated to enhancing organizational structures, with a primary focus on "on-premise and cloud infrastructure" to facilitate swift and efficient business operations.</p>
                        <a href="">
                            <span>Schedule a Consultation</span>
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                        </a>
                    </div>
                </div>

                <div class="service-position-two-content-ctn-flex">
                    <div class="service-position-two-content-ctn-flex-cn-img">
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967878/devtegrate-brand/Artboard_9_k3wsmj.png" alt="Devtegrate Cloud Images">
                    </div>

                    <div class="service-position-two-content-ctn-flex-cn">
                        <span>Development.    Integration.    Devtegration.</span>
                        <h2>INFRASTRUCTURE AS A SERVICE.</h2>
                        <p>IaaS is a cloud computing model in which a third-party provider delivers infrastructure resources over the internet. This includes physical servers, storage, and networking capabilities. With IaaS, businesses can access the infrastructure they need on a pay-as-you-go basis, without having to purchase and maintain their own hardware. This can save businesses significant upfront costs and ongoing maintenance expenses.</p>
                        <p>Devtegrate offers IaaS solutions that are scalable, flexible, and secure. Their IaaS offerings include virtual private servers (VPS), which allow businesses to have their own dedicated server resources, as well as shared hosting and cloud storage solutions. Devtegrate's IaaS solutions are designed to meet the needs of businesses of all sizes, from small startups to large enterprises.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ctn-section-three">
            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718967875/devtegrate-brand/Artboard_10_d5pcoc.png" alt="Devtegrate Cloud Images">

            <div class="ctn-section-three-cn">
                <h3>PLATFORM AS A SERVICE (PAAS).</h3>
                <span>DevOps. Cloud Service. Automation.</span>
                <p>PaaS is a cloud computing model in which a third-party provider delivers a platform for developers to build, test, and deploy applications. The platform includes all the necessary tools, frameworks, and infrastructure resources needed to develop and deploy applications. With PaaS, businesses can access the tools and resources they need to develop and deploy applications without having to purchase and maintain their own hardware and software.</p>

                <p>Devtegrate offers PaaS solutions that are designed to meet the needs of developers and businesses. Their PaaS offerings include a range of tools and resources, such as integrated development environments (IDEs), version control systems, and databases. Devtegrate's PaaS solutions are designed to be flexible and scalable, allowing businesses to easily adapt to changing needs and demands.</p>
            </div>
        </div>-->

        <div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <p>Get insights on what we do and how we do it.</p>
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Is moving to the cloud complicated?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Not necessarily! We offer migration services that handle the technical complexities, ensuring a smooth and secure transition for your data and applications.
                  </p>

                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Will I lose control of my data in the cloud?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <p>
                    No, you retain complete ownership and control of your data in the cloud. Cloud providers offer robust security measures to keep your data safe, potentially exceeding what you can achieve on-premise.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What happens if the internet goes down? Will I be able to access my data?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <p>
                    Most cloud providers offer high availability and redundancy, meaning your data remains accessible even in the event of an internet outage at your location.
                  </p>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can the cloud scale with my growing business?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    Absolutely! A key advantage of the cloud is its scalability. You can easily adjust your cloud resources (storage, processing power) up or down as your business needs evolve, without the limitations of on-premise infrastructure.
                  </p>

                </div>
              </div>

              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How can I get started with the cloud without a big upfront investment?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <p>
                    The cloud offers a pay-as-you-go model, so you only pay for the resources you use. This allows you to start small and scale up gradually as your needs grow, making it a cost-effective solution for businesses of all sizes.pen_spark
                  </p>

                </div>
              </div>
            </div>
          </div>



        {% include 'components/footer.html' %}
    {% endblock %}