{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526851/devtegrate-images/Artboard_8_hv9air.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Feeling overwhelmed by the complexities of software development?</h2>
                <p>We deliver predictable software projects on time and within budget, built with the quality you expect.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Get Your Free Project Roadmap Consultation</span>
                    
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <div class="service-ctn-position">
                    <div class="new-update-box">
                        <img class="new-update-box-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526851/devtegrate-images/Artboard_7_fwemss.jpg" alt="Devtegrate Cloud Services">
                        <div class="new-update-box-ctn">
                            <h2>Stop the Software Development Headaches. Get Predictable Results.</h2>
                        </div>
                    </div>

                    <a href="https://calendly.com/devtegrate">
                        <span>Get Your Free Compliance Assessment</span>
                        
                    </a>
                </div>

                <div class="service-ctn-position-content">
                    <p>Missed deadlines, hidden costs, and buggy software can derail your project. We guide businesses through the development process with clarity and control. We deliver high-quality, on-time software that meets your needs and drives results.</p>
                </div>
            </div>

            <p class="extra-paragraph">How we can help:</p>
            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530488/devtegrate-images/process_uf9k6k.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Project Planning & Requirements Gathering</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530620/devtegrate-images/service_n3bgri.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Software Design & Architecture</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530527/devtegrate-images/scrum_gd96us.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Agile Development & Development</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530621/devtegrate-images/startup_brva2a.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Quality Assurance & Testing</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530488/devtegrate-images/process_uf9k6k.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Deployment & Maintenance</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>
        </div>

        <div class="faq">
            <div class="faq-title">
              <h2>Frequently Asked Questions</h2>
              <!--<p>Get insights on what we do and how we do it.</p>-->
            </div>

            <div class="layout">
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How do you ensure the quality of your software development work?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>We implement a comprehensive Quality Assurance (QA) process that includes code reviews, unit testing, integration testing, and user acceptance testing. This ensures your software meets the highest quality standards.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Can you handle projects with complex requirements?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                  <li>Absolutely! Our experienced team has a proven track record of delivering successful software solutions for projects with varying levels of complexity. We will work closely with you to understand your needs and develop a solution that meets those requirements.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    Do you have experience developing software for my industry?
                    <i class="bx bx-plus"></i>
                  </p>
                </div>
                <div class="accordion__answer">
                    <li>(If applicable) Yes, we have extensive experience developing software for clients in the [Your Industry] industry. We understand the specific challenges and needs of your industry and can leverage this knowledge to develop a tailored solution for your business.</li>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    What is your typical timeline for software development projects?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>
                    The development timeline will vary depending on the complexity and scope of your project. However, during the planning stage, we will provide you with a realistic timeline for completion.
                  </li>

                </div>
              </div>

              <div class="accordion">
                <div class="accordion__question">
                  <p>
                    How do you keep costs under control and within budget?
                    <i class="bx bx-plus"></i>
                  </p>

                </div>
                <div class="accordion__answer">
                  <li>
                    We provide transparent pricing and cost estimates upfront. We also leverage Agile methodologies to deliver working software iteratively, which allows for early feedback and course correction, preventing costly rework later in the process
                  </li>

                </div>
              </div>
            </div>
          </div>

        {% include 'components/footer.html' %}
    {% endblock %}