{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718890580/devtegrate-brand/cement-texture_gqa0kz.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>DEVTEGRATE TEAM.</h2>
            </div>
        </div>

        <div class="team-banner">
          <div class="team-banner-container">
            <div class="team-banner-container-grid">
              <div class="team-banner-container-grid-content">
                <h3>Here's what our clients experience after collaborating with us and our proficient skills</h3>
                <hr>

                <div>
                  <i class='bx bxs-star' style='color:#ffb700' ></i>
                  <i class='bx bxs-star' style='color:#ffb700' ></i>
                  <i class='bx bxs-star' style='color:#ffb700' ></i>
                  <i class='bx bxs-star' style='color:#ffb700' ></i>
                  <i class='bx bxs-star' style='color:#ffb700' ></i>
                </div>

                <p>Certified experts in a variety of cloud platforms providing a comprehensive cloud solutions that meets the needs of businesses of all sizes.</p>
                <span>Devtegrate | Cloud Services | Cloud DevOps</span>
              </div>

              <div class="team-banner-container-digit">
                <div class="team-banner-container-grid-digit">
                  <div class="team-banner-container-grid-digit-update">
                    <li>90%</li>
                    <p>Our Language Stack</p>
                  </div>

                  <div class="team-banner-container-grid-digit-update">
                    <li>96%</li>
                    <p>Our Professional Ratings</p>
                  </div>

                  <div class="team-banner-container-grid-digit-update">
                    <li>100%</li>
                    <p>Our Service Focus</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="team-ctn">
            <div class="team-ctn-header">
                <span>Leaders in Innovation And Technology.</span>
                <h2>Our team of professionals and certified experts.</h2>
                <p>Devtegrate is a cloud service provider that has a team of professionals and certified experts in various cloud services and platforms. Our team consists of experienced professionals who have a deep understanding of cloud technologies and how to implement them effectively for businesses. They have a track record of delivering successful cloud projects for businesses of all sizes, across a range of industries.</p>
            </div>

            <div class="ctn-section-two-cn-ctn">
                <div class="ctn-section-two-cn-ctn-box-ctn">
                    <div class="swiper-wrapper">
                        <div class="ctn-section-two-cn-ctn-box">
                            <h2>Brain Storming</h2>
                            <p>Generating and sharing ideas related to cloud computing, discussing various cloud-based solutions that can help businesses in terms of scalability, flexibility, and cost-effectiveness.</p>
                        </div>

                        <div class="ctn-section-two-cn-ctn-box">
                            <h2>Cloud Planning</h2>
                            <p>Developing a comprehensive strategy for migrating to the cloud, identifying the business requirements, assessing the current IT infrastructure, and selecting the right cloud services and solutions to meet those requirements.</p>
                        </div>

                        <div class="ctn-section-two-cn-ctn-box">
                            <h2>IAC</h2>
                            <p>cloud Infrastructure ! IaC enables our team the ability to ensure version control, test and deploy infrastructure changes in a repeatable and automated manner.</p>
                        </div>

                        <div class="ctn-section-two-cn-ctn-box">
                            <h2>Continuous Integration and Continuous Deployment</h2>
                            <p>Set up a pipeline for continuously building, testing, and deploying the application code and infrastructure changes. our CI/CD operations ensures that the software is always in a deployable state, reducing the risk of errors and downtime during deployment.</p>
                        </div>

                        <div class="ctn-section-two-cn-ctn-box">
                            <h2>Monitoring and Logging</h2>
                            <p>Once the infrastructure is deployed and the application is running, it is crucial to have monitoring and logging in place to detect and diagnose any issues that may arise. Monitoring and logging allow teams to proactively identify and resolve issues before they become major problems.</p>
                        </div>

                        <div class="ctn-section-two-cn-ctn-box">
                            <h2>Security</h2>
                            <p>As with any system, security is a critical consideration when implementing a cloud-based solution. Security measures such as access control, encryption, and vulnerability scanning must be put in place to ensure that the application and its data are protected.</p>
                        </div>

                        <div class="ctn-section-two-cn-ctn-box">
                            <h2>Scaling</h2>
                            <p>Cloud-based solutions allow for easy scaling of infrastructure resources to meet changing demands. Teams should plan for scaling requirements and ensure that the infrastructure can handle increased traffic and workload.</p>
                        </div>
                    </div>

                    <ul class="control" id="custom-control">
                        <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                        <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                    </ul>
                </div>
            </div>

            <div class="team-ctn-header">
                <h3>Collaborate with Devtegrate: Your Comprehensive Guide.</h3>
                <p>At Devtegrate, we pride ourselves on our professional expertise and extensive experience with leading cloud platforms such as AWS (Amazon Web Services), Microsoft Azure, and Google Cloud Platform. Our team is dedicated to providing you with the highest quality of service, ensuring seamless collaboration and optimal results. In order to collaborate with Devtegrate effectively, it is important to have a solid understanding of our capabilities and how we can support your business needs. With our proven track record of success and unparalleled technical proficiency, you can trust that your cloud infrastructure is in good hands.</p>

                <p>Whether you are seeking guidance in cloud migration, serverless architecture, or anything in between, our team of experts is here to provide you with the support you need. With Devtegrate as your partner, you can rest assured that your cloud infrastructure is optimized for performance, reliability, and security.</p>
            </div>
        </div>

        <div class="team-folder-section">
            <div class="team-folder-section-header">
                <span>Development. Integration. Devtegration.</span>
                <h2>Our team is made up of individuals from various language stack ready to provide effective service delivery.</h2>
            </div>

            <div class="team-folder-section-flex">
                <div class="team-folder-section-flex-content">
                    <h3>The Devtegrate Stack</h3>
                    <p>The Devtegrate team is made up of a complex and reliable crop of expert programmers and developers with the aim to make clients satisfaction a major guarantee.</p>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Image">
                </div>

                <div class="team-sauce">
                    <p>Summary of Our Stack.</p>
                    <div class="team_container_grid">
                        <i class='bx bxl-javascript'></i>
                        <i class='bx bxl-python'></i>
                        <i class='bx bxl-docker'></i>
                        <i class='bx bx-data'></i>
                        <i class='bx bxl-postgresql'></i>
                        <i class='bx bxl-mongodb'></i>
                        <i class='bx bxl-gitlab'></i>
                        <i class='bx bxl-nodejs'></i>
                        <i class='bx bxl-aws'></i>
                        <i class='bx bxl-google-cloud'></i>
                        <i class='bx bxl-microsoft'></i>
                        <i class='bx bxl-kubernetes'></i>
                        <i class='bx bxl-django'></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-footer-button">
            <a href="">
                <span>Know More About Us</span>
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
            </a>

            <a href="">
                <span>Talk to Us</span>
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
            </a>
        </div>

        {% include 'components/footer.html' %}
    {% endblock %}