{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="ctn-section-header">
            <img class="ctn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718722929/devtegrate-updates/abstract-background-with-low-poly-design_d8film.jpg" alt="Devtegrate Image">

            <div class="secondary-ctn-section-header-ctn">
                <h2>Data Breaches Got You Grounded?</h2>
                <p>Launch Your Innovation Without Fear</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <!--<span class="service-header-span">Software Development</span>-->
                <h2>Break Free with Secure, Scalable Solutions.</h2>
                <p>The tech landscape is a battlefield. You need to innovate constantly to stay ahead, but security concerns can slow you down or even halt progress altogether. Devtegrate understands this struggle. We help tech companies break through this innovation deadlock by providing a comprehensive suite of solutions that empower you to:</p>
                <p>Your Hospital can have:</p>
                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-asset">
                <div class="updated-asset-grid">
                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596378/devtegrate-brand/Data_Protection_hkzp22.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Deliver cutting-edge products and services while safeguarding your data and infrastructure.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596593/devtegrate-brand/Life_Cycle_l2n1mg.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Streamline development lifecycles and bring new features to market faster.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596393/devtegrate-brand/Security_Lock_idyjkm.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Reduce bottlenecks and maintain robust security throughout the development process.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596438/devtegrate-brand/Agile_nupbbi.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Respond to changing market demands with agility and ensure your IT infrastructure can support your ambitions.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596409/devtegrate-brand/Privacy_xjyqok.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Navigate complex data privacy and security regulations (e.g., GDPR, CCPA, PCI-DSS) with confidence.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->

                    <!-- Updated Asset Start -->
                    <div class="updated-asset-box">
                        <div class="updated-asset-img">
                            <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1719596462/devtegrate-brand/Staff_lzigbh.png" alt="Devtegrate Cloud Services">
                        </div>

                        <div class="updated-asset-ctn">
                            <p>Free up your IT staff for strategic initiatives by automating repetitive tasks like infrastructure management and security monitoring.</p>
                        </div>
                    </div>
                    <!-- Updated Asset End -->
                </div>
            </div>

        </div>

        <div class="ctn-section-two-cn-ctn">
            <div class="service-ctn-header">
                <h3>How We Can Help</h3>
            </div>

            <div class="ctn-section-two-cn-ctn-box-ctn">
                <div class="swiper-wrapper">
                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Secure Cloud Solutions</h2>
                        <p>Migrate your IT infrastructure and applications to a secure and scalable cloud environment, ensuring data availability, regulatory compliance, and cost-efficiency.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>DevOps for Tech Teams</h2>
                        <p>Implement secure DevOps practices to streamline development workflows, boost collaboration, and deliver high-quality software faster, all while maintaining robust security controls.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Compliance Management Software</h2>
                        <p>Simplify compliance tasks and reporting with user-friendly software that automates key processes, keeps you updated on evolving regulations, and reduces the risk of non-compliance penalties.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Advanced Threat Detection</h2>
                        <p>Protect your tech assets from emerging cyber threats with our 24/7 security monitoring and advanced threat detection solutions. Identify and mitigate potential security breaches before they disrupt your operations.</p>
                    </div>

                    <div class="ctn-section-two-cn-ctn-box">
                        <h2>Robotic Process Automation (RPA)</h2>
                        <p>Enhance efficiency by automating repetitive IT tasks such as account provisioning, data migration, and security patching. Free up your IT staff to focus on higher-value activities and strategic initiatives.</p>
                    </div>
                </div>

                <ul class="control" id="custom-control">
                    <li class="prev"><span class="material-symbols-outlined">chevron_left</span></li>
                    <li class="next"><span class="material-symbols-outlined">chevron_right</span></li>
                </ul>
            </div>
        </div>

        <div class="service-ctn">
            <div class="service-ctn-header">
                <span class="service-header-span">Use Case</span>
                <h2>The Problem</h2>
                <p>A fast-growing fintech startup needed to launch a groundbreaking new mobile payment app, but security concerns and outdated infrastructure threatened to delay their aggressive timeline.</p>

                <a href="https://calendly.com/devtegrate">
                    <span>Schedule a Free Consultation Today!</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="updated-swiper">
                <div class="updated-swiper-ctn-header">
                    <span>The Solution</span>
                    <h2>Implementing secure DevOps practices and migrating their infrastructure to a secure cloud environment.</h2>
                </div>

                <div class="updated-swiper-ctn">
                    <div class="updated-swiper-ctn-grid active">
                        <div class="updated-swiper-ctn-grid-box">
                            <p>Reduce Development Time by 30% while maintaining robust security standards.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Scale User Base by 500% without compromising data privacy or application performance.</p>
                        </div>

                        <div class="updated-swiper-ctn-grid-box">
                            <p>Achieve Regulatory Compliance with GDPR and PCI-DSS through our automated tools and expert guidance.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="updated-swiper-btn">
                <div class="updated-swiper-liner active"></div>
                <div class="updated-swiper-identifier">
                    <div class="identifier"></div>
                    <span>The Result</span>
                    </div>
                </div>
            </div>
            
        {% include 'components/footer.html' %}
    {% endblock %}