@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*variables*/
:root {
  /*variables Colors*/
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: #1596F5;
  --background-color: ------;
  --text-color: #888888;
  --reserved-color: #011D28;

  /*variables Text*/
  --mega-header: 5em;
  --mini-header: 4em;
  --header-text: 3em;
  --medium-text: 2em;
  --small-text: 1.5em;
  --p-text: 1.1em;
  --span-text: 1em;
  --link-span-text: 0.8em;
}

body, html{
  overflow-x: hidden;
}

header {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  padding: 10px;
  background: var(--reserved-color);
  backdrop-filter: saturate(180%) blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

header nav {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

header nav .navbar-logo {
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}

header nav .navbar-logo img {
  width: 200px;
  height: auto;
  object-fit: scale-down;
}

header nav .ctn-cta {
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}

header nav ul {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 3em;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--span-text);
  font-weight: 300;
}

header nav ul li a:hover {
  color: var(--tertiary-color);
}

footer {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--reserved-color);
  padding: 5%;
}

.footer-header {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: flex;
  width: 100%;
  height: auto;
  padding: 2% 0;
}

.footer-header img {
  width: 150px;
  height: auto;
  object-fit: scale-down;
}

.footer-header-icon {
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.footer-header-icon li {
  list-style: none;
}

.footer-header-icon li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--p-text);
  font-weight: 300;
  padding: 5px;
}

.footer-header-line {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  padding: 1px;
  background-color: var(--primary-color);
}

.footer-header-content {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 2% 0;
}

.footer-header-content-details {
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer-header-content-details h2 {
  font-size: var(--medium-text);
  font-weight: 300;
  color: var(--tertiary-color);
}

.footer-header-content-details p {
  font-size: var(--span-text);
  font-weight: 300;
  color: var(--primary-color);
}

.footer-header-content-link {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: minmax(-20px, auto);
  grid-auto-flow: dense;
  gap: 1em;
}

.footer-header-content-link-ctn {
  padding: 4% 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer-header-content-link-ctn h2 {
  font-size: var(--p-text);
  font-weight: 300;
  color: var(--tertiary-color);
}

.footer-header-content-link-ctn li {
  list-style: none;
  padding: 10px;
}

.footer-header-content-link-ctn li a {
  text-decoration: none;
  font-size: var(--span-text);
  font-weight: 300;
  color: var(--primary-color);
}

.footer-header-content-link-ctn li a .bx {
  padding-left: 10px;
  transform: rotate(45deg);
}

.footer-header-content-link-ctn li a:hover:after {
  content: '';
  padding: 2px;
  width: 50%;
  background-color: var(--tertiary-color);

}

.footer-split-ctn {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-right: 5%;
}

.footer-subscription-ctn {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.footer-subscription-cn {
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2% 0;
}

.footer-subscription-cn h3 {
  font-size: var(--p-text);
  font-weight: 300;
  color: var(--tertiary-color);
}

.footer-subscription-cn p {
  font-size: var(--span-text);
  font-weight: 300;
  color: var(--primary-color);
}

.footer-subscription-form {
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer-subscription-form form {
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  background-color: var(--primary-color);
}

.footer-subscription-form form input {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: var(--span-text);
  color: var(--secondary-color);
  font-weight: 300;
  outline: none;
  width: 100%;
}

footer .span-text {
  font-size: var(--span-text);
  color: var(--primary-color);
  font-weight: 300;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 2%;
}

.service-server-section {
  justify-content: center; 
  align-items: center;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.service-server-section-box {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.service-server-section-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 2s ease;
}

.service-server-section-box-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: left;
  padding: 4%;
  transition: all 2s ease;
  background-color: rgba(0, 0, 0, .8);
}

.service-server-section-box-content h2 {
  font-size: var(--small-text);
  color: var(--tertiary-color);
  font-weight: 500;
}

.service-server-section-box-content-item {
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.service-server-section-box-content-item li {
  font-size: var(--span-text);
  color: var(--primary-color);
  width: 100%;
  list-style: none;
  font-weight: 200;
}

.service-server-section-box:hover .service-server-section-box-content {
  background-color: rgba(0, 0, 0, .95);
  transition: all 2s ease;
}

.service-server-section-box:hover img {
  transform: scale(1.4);
  transition: all 2s ease;
}

.drop-down span {
  color: var(--primary-color);
  font-size: var(--span-text);
  font-weight: 300;
  cursor: pointer;
}

.drop-down span img {
  width: 20px;
  height: auto;
  object-fit: scale-down;
}

.drop-down .img-navbar {
  padding-left: 0;
  position: absolute;
  top: 90%;
  width: 100%;
  left: 0;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  height: auto;
  display: none;
  opacity: 0;
  flex-direction: column;
  transition: all 1s ease;
  padding: 10px;
}

.img-navbar-ctn-img-ctn-flex {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  width: 100%;
  height: auto;
  gap: .5em;
}

.navbar-liner {
  width: 50%;
  padding: 1px;
  background-color: var(--secondary-color);
}

.drop-down .img-navbar:hover {
  background-color: transparent;
}

.drop-down .img-navbar .img-navbar-ctn {
  background: var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 80%;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
}

.drop-down .drop-down-navbar {
  gap: 1em;
  padding-left: 0;
  position: absolute;
  top: 90%;
  width: 100%;
  max-width: 300px;
  justify-content: center;
  align-items: flex-start;
  margin: 10px auto;
  height: auto;
  display: none;
  opacity: 0;
  flex-direction: column;
  background: var(--primary-color);
  border-radius: 10px;
  transition: all 1s ease;
  box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
}

.drop-down .drop-down-navbar li a {
  font-size: var(--span-text);
  font-weight: 300;
  color: var(--secondary-color);
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex h2 {
  font-size: var(--p-text);
  font-weight: 500;
  color: var(--secondary-color);
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  border-radius: 5px;
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li a {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li a h5 {
  font-size: var(--span-text);
  font-weight: 500;
  color: var(--tertiary-color);
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li a p {
  font-size: var(--link-span-text);
  font-weight: 500;
  color: var(--secondary-color);
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li img {
  width: 40px;
  height: auto;
  object-fit: scale-down;
  filter: invert(100%);
  padding-right: 10px;
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li #imgsvg {
    margin: auto;
    object-fit: scale-down;
    height: 50px;
    width: 50px;
    stroke: var(--tertiary-color);
    fill-opacity: 0;
    stroke-width: 10px;
    stroke-dasharray: 4500;
    animation: svgAnimation 20s ease infinite;
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li:hover #imgsvg {
    margin: auto;
    object-fit: scale-down;
    height: 50px;
    width: 50px;
    stroke: var(--primary-color);
    fill-opacity: 0;
    stroke-width: 10px;
    stroke-dasharray: 4500;
    animation: svgAnimation 20s ease infinite;
}

#ResponsiveNavImgsvg {
    margin: 0;
    object-fit: scale-down;
    height: 50px;
    width: 50px;
    stroke: var(--primary-color);
    fill-opacity: 0;
    stroke-width: 10px;
    stroke-dasharray: 4500;
    animation: svgAnimation 20s ease infinite;
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li:hover a {
  color: var(--primary-color);
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  transition: all 1s ease;
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li:hover {
  background-color: var(--tertiary-color);
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li:hover a h5 {
  color: var(--primary-color);
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li:hover a p {
  color: var(--primary-color);
}

.img-navbar .img-navbar-ctn .img-navbar-ctn-img-ctn-flex li:hover img {
  filter: invert(0);
  transition: all 1s ease;
}

.drop-down.active ul {
  display: flex;
  opacity: 1;
  transition: all 1s ease;
  top: 100%;
  z-index: 999;
}

.responsive-navbar {
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1024px) {

  header {
    display: none;
  }

  .responsive-navbar {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
  }

  .responsive-navbar-header {
    padding: 10px;
    background: rgba(100, 100, 100, .4);
    backdrop-filter: saturate(180%) blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .responsive-navbar-header .responsive-navbar-logo {
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .responsive-navbar-header .responsive-navbar-logo img {
    width: 150px;
    height: auto;
    object-fit: scale-down;
  }

  .responsive-navbar .menu.active {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .responsive-navbar .menu {
    display: none;
  }

  .responsive-menu {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .responsive-navbar .responsive-navbar-header .menu .imgOpen {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .responsive-navbar .menu .imgClose {
    width: auto;
    height: auto;
    object-fit: scale-down;
    cursor: pointer;
  }

  .responsive-navbar .menu .CompanyLogo {
    width: 100px;
    height: auto;
    object-fit: scale-down;
    cursor: pointer;
  }

  .responsive-menu.active {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--secondary-color);
    z-index: 999;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    transition: all 2s ease;
  }

  .responsive-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--secondary-color);
    z-index: 999;
    top: 0;
    right: -100%;
    transition: all 2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
  }

  .responsive-menu ul {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: .5em;
    overflow-y: scroll;
  }

  .responsive-menu::-webkit-scrollbar {
      width: 5px;
  }

  .responsive-menu::-webkit-scrollbar-thumb {
      background-color: var(--tertiary-color);
      border-radius: 10px;
  }

  .responsive-menu::-webkit-scrollbar-track {
      background-color: var(--text-color);
  }

  .responsive-menu ul .responsive-drop-down {
    width: 100%;
    height: auto;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--reserved-color);
    transition: all 2s ease;
  }

  .responsive-menu ul .responsive-drop-down span {
    color: var(--primary-color);
    font-size: var(--span-text);
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .responsive-menu ul .responsive-drop-down .responsive-list.active {
    padding: 10px;
    gap: .2em;
    display: flex;
    height: auto;
    overflow: visible;
    transition: all 2s ease;
  }

  .responsive-menu ul .responsive-drop-down .responsive-list {
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all 2s ease;
  }

  .responsive-menu ul .responsive-drop-down ul li {
    list-style: none;
    padding-right: 15px;
    transition: all 1s ease;
  }

  .responsive-menu ul .responsive-drop-down ul li:hover {
    list-style: none;
    padding-right: 15px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    transition: all 1s ease;
  }

  .responsive-menu ul .responsive-drop-down ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--span-text);
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-direction: row;
  }

  .responsive-menu ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--reserved-color);
  }

  .responsive-menu ul .decorated-responsiveness a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--span-text);
    font-weight: 300;
  }

  .responsive-menu .responsive-ctn-cta {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
  }

  .responsive-menu .responsive-ctn-cta .cta {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--span-text);
    font-weight: 300;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--tertiary-color);
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 912px) {
  .service-server-section {
    flex-direction: column;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 540px) {
  
  header {
    display: none;
  }


}
