{% extends 'base.html' %}
    {% block content %}
        <div class="microsoftFormContainer">
	        <div class="microsoftForm">
	        	<div class="microsoftFormHeader">
	        		<h2>Unlock Reliable IT Solutions with Devtegrate's Tech Services.</h2>
	        		<p>At Devtegrate, we offer a comprehensive range of technology services to ensure your business runs smoothly, securely, and in compliance with industry standards. Whether you're looking to safeguard your data, streamline operations, or navigate complex regulations, our services are tailored to meet your unique needs.</p>
	        	</div>

	        	{% for message in get_flashed_messages() %}
			        <div class="notification-positioning">
			            <div class="alert alert-success alert-dismissible fade show" role="alert">
			                <p class="message-font">Hi! {{ message }}</p>
			                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			            </div>
			        </div>
			    {% endfor %}

	        	<form method="POST" id="response-form">
	        		{{ form.hidden_tag() }}
	        		<div class="microsoftFormInputWrite">
	        			<h3>1. First and Last Name</h3>
	        			<input type="text" name="name" placeholder="Enter your answer" required/>
	        		</div>

	        		<div class="microsoftFormInputWrite">
	        			<h3>2. Email Address</h3>
	        			<input type="text" name="email" placeholder="Enter your answer" required/>
	        		</div>

	        		<div class="microsoftFormInputWrite">
	        			<h3>3. Phone Number</h3>
	        			<input type="text" name="contact" placeholder="Enter your answer" required/>
	        		</div>

	        		<div class="microsoftFormInputWrite">
	        			<h3>4. What services are you interested in? (Select all that apply)</h3>
	        			<select name="serviceOthers" required>
	        				<option>Managed IT Services</option>
	        				<option>Cyber Security Services</option>
	        				<option>Security and Compliance</option>
	        				<option>Cloud Services</option>
	        				<option>Software Development</option>
	        				<input type="text" id="others" placeholder="Others">
	        			</select>
	        		</div>

	        		<div class="microsoftFormInputWrite" required>
	        			<h3>5. What is the size of your business?</h3>
	        			<select name="companySize">
	        				<option>Small (1-50 employees)</option>
	        				<option>Medium (51-200 employees)</option>
	        				<option>Large (200+ employees)</option>
	        			</select>
	        		</div>

	        		<div class="microsoftFormInputWrite" required>
	        			<h3>6. What is your biggest technology challenge?</h3>
	        			<select name="techChallenge">
	        				<option>Data security</option>
	        				<option>Compliance with industry regulations</option>
	        				<option>IT infrastructure management</option>
	        				<option>Operational efficiency</option>
	        				<input type="text" id="others" placeholder="Others">
	        			</select>
	        		</div>

	        		<div class="microsoftFormInputWrite" required>
	        			<h3>7. What industry does your company belong to?</h3>
	        			<select name="companyIndustry">
	        				<option>Financial Services</option>
	        				<option>Government</option>
	        				<option>Healthcare</option>
	        				<option>Technology</option>
	        				<input type="text" id="others" placeholder="Others">
	        			</select>
	        		</div>

	        		<div class="microsoftFormInputWrite">
	        			<h3>8. When are you looking to implement these solutions?</h3>
	        			<select name="solutions" required>
	        				<option>Immediately</option>
	        				<option>Within 3 months</option>
	        				<option>6 months or more</option>
	        				<option>Not yet</option>
	        			</select>
	        		</div>

	        		<div class="microsoftFormInputWrite">
	        			<h3>9. Preferred method of contact</h3>
	        			<select name="contactMethod" required>
	        				<option>Email</option>
	        				<option>Phone</option>
	        				<option>Schedule a Call</option>
	        			</select>
	        		</div>

	        		<button class="g-recaptcha" data-sitekey="6LdgeDcqAAAAACoKLUqyo_BUcByaDXovZ7I4sOG1" data-callback='onSubmit' data-action='submit'>Submit</button>
	        		<input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
	        	</form>
	        </div>
        </div>

        <script src="https://www.google.com/recaptcha/api.js"></script>
		<script>
		  function onSubmit(token) {
		    document.getElementById("response-form").submit();
		  }
		</script>

    {% endblock %}