<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="homepage" />
  <meta property="type" content="homepage" />
  <meta name="google-site-verification" content="------------" />

  <title>{{ title_tag }}</title>

  <!-- Links -->
  <link rel="canonical" href="{{ url_link }}" />
  <link rel="og:canonical" href="{{ url_link }}" />
  <link rel="image_src" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221451/devtegrate-updates/Asset_5_niuwya.png" />
  <link rel="shortcut icon" type="image/png" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221451/devtegrate-updates/Asset_5_niuwya.png" />
  <meta name="apple-touch-fullscreen" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta property="og:image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221451/devtegrate-updates/Asset_5_niuwya.png" />

  <link rel="icon" type="image/png" href="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221451/devtegrate-updates/Asset_5_niuwya.png" />

  <meta property="twitter:image" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221451/devtegrate-updates/Asset_5_niuwya.png" />
  <meta property="twitter:card" content="summary_large_image" />
  <link rel="icon" href="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221451/devtegrate-updates/Asset_5_niuwya.png" />
  <meta name="og:description" content="{{ meta_description }}" />
  <meta name="description" content="{{ meta_description }}" />
  <meta name="og:keywords" content="{{ keyword }}" />
  <meta name="keywords" content="{{ keyword }}" />
  <meta name="rating" content="General" />
  <meta content="all" name="Googlebot-Image" />
  <meta content="all" name="Slurp" />
  <meta content="all" name="Scooter" />
  <meta content="ALL" name="WEBCRAWLERS" />
  <meta name="revisit-ALL" content="1 days" />
  <meta name="robots" content="ALL, index, follow" />
  <meta name="author" content="Ebire Folayemi Michael" />
  <meta name="revised" content="{{ revised }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1." />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-------------------------------------------------------------------
    ---------------------------------------------------------------------
    -------------------------------------------------------------------->

  <!-- Website CSS -->
  <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" />

  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />

  <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" />

  <link href="{{ url_for('static', filename='css/button.css') }}" rel="stylesheet" />

  <link href="{{ url_for('static', filename='css/dropdown.css') }}" rel="stylesheet" />

  <!-------------------------------------------------------------------
    ---------------------------------------------------------------------
    -------------------------------------------------------------------->

  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
  {% block content %}

  {% endblock %}

  <!-- Calendly badge widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet"/>

    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"
    async></script>

    <script type="text/javascript">
      window.onload = function () {
        Calendly.initBadgeWidget({
          url: "https://calendly.com/devtegrate",
          text: "Get In touch with Devtegrate.",
          color: "#000000",
          textColor: "#ffffff",
        });
      };
    </script>
  <!-- Calendly badge widget end -->

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>

  

  <script src="{{ url_for('static', filename='js/secure.js') }}"></script>

  <script src="https://www.google.com/recaptcha/api.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    <script>
      document.addEventListener("DOMContentLoaded", SwiperSliderDef);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", FaqOpener);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", ResponsiveMenuNavigation);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", DropDownMenuFocus);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", toggleOtherIndustry);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", toggleOtherHelp);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", AutomatedSlider);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", ShowContent);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", redirectToCloudService);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", SwiperSliderDefTwo);
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", ApplicationDropDown);
    </script>

    <script>
      ScrollReveal({
        reset: true,
        distance: "200px",
        duration: 1500,
        delay: 600,
      });

      ScrollReveal().reveal(".reveal__left", { delay: 200, origin: "left" });
      ScrollReveal().reveal(".reveal__right", {
        delay: 200,
        origin: "right",
      });

      ScrollReveal().reveal(".reveal__top", { delay: 200, origin: "top" });
      ScrollReveal().reveal(".reveal__bottom", {
        delay: 200,
        origin: "bottom",
      });

      // Text Animation Section //

      ScrollReveal().reveal(".reveal__top", { 
        delay: 500, 
        origin: "top" 
      });

      ScrollReveal().reveal(".reveal__bottom", {
        delay: 500,
        origin: "bottom",
      });

      ScrollReveal().reveal(".reveal__left", { 
        delay: 500, 
        origin: "left" 
      });

      ScrollReveal().reveal(".reveal__right", {
        delay: 500,
        origin: "right",
      });

      ScrollReveal().reveal(".reveal__interval__top", {
        delay: 400,
        origin: "top",
        interval: 200,
      });

      ScrollReveal().reveal(".reveal__interval__left", {
        delay: 400,
        origin: "left",
        interval: 200,
      });

      ScrollReveal().reveal(".reveal__interval__right", {
        delay: 400,
        origin: "right",
        interval: 200,
      });

      ScrollReveal().reveal(".reveal__interval__bottom", {
        delay: 400,
        origin: "bottom",
        interval: 200,
      });

      ScrollReveal().reveal(".reveal__text", {
        delay: 1000,
        origin: "left",
      });
      
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <!-- Your GSAP animation script -->
    <script>
        gsap.fromTo(".startUp", {
            opacity: 1
        }, {
            opacity: 0,
            duration: 0.5,
            delay: 6,
            zIndex: 0,
            display: 'none'
        });

        gsap.fromTo(".headerCtn", {
            y: 50,
            opacity: 0
        }, {
            y: 0,
            opacity: 1,
            duration: 2,
            delay: 5,
            zIndex: 555
        });
    </script>
  </body>

</html>
