{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        <div class="header">
            <div class="header-container">
                <div class="header-content">
                    <h1>DevOps, <br /> Cloud Services & Automation</h1>
                    <p>Staying ahead of the curve in today's rapidly advancing technological landscape can be a significant challenge for business. At Devtegrate, we understand the critical importance of crafting a development and deployment pattern that ensure smooth and efficinent cloud service delivery.</p>
                    <a class="btn-ctn" href="">
                        <span class="btn-text">Explore</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                    </a>
                </div>

                <div class="header-image">
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696848768/devtegrate-updates/Endpoint-pana_1_rz8kqx.png" alt="Devtegrate Cloud Services">
                </div>
            </div>
            <a class="page-flip" href="#">
                <span>Next Page</span>
                <img class="btn-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718207257/devtegrate-updates/Double_Right_ngm1ou.png" alt="Devtegrate Cloud Services">
            </a>
        </div>

        <div class="page-container">
            <div class="container-header">
                <span>Cloud Services | Automation | DevOps</span>
                <h2>Our Trusted Clients and Partners</h2>
                <p>We have earned the trust and confidence of our clients through our expertise and commitent to excellence</p>
            </div>
            <div class="page-client-icon">
                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/hardrock_mzhbsm-removebg-preview_uuogdg.png" alt="Devtegrate DevOps"/>

                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/autostore_zwuzf9-removebg-preview_qyqwco.png" alt="Devtegrate DevOps"/>

                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703784674/devtegrate-updates/download-removebg-preview_lzhc3d.png" alt="Devtegrate DevOps"/>

                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136554/devtegrate/aws_xcngxf-removebg-preview_pi6ea2.png" alt="Devtegrate DevOps">

                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696862528/devtegrate-updates/download_2_xyu9nm.png" alt="Devtegrate DevOps"/>      

                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696863305/devtegrate-updates/download_3_kl3cfx.png" alt="Devtegrate DevOps"/>

                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696861301/devtegrate-updates/download_wgbkqg.png" alt="Devtegrate DevOps"/>

                <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703781400/devtegrate-updates/Millennia_Title_Logo-200x-removebg-preview_fpbjym.png" alt="Devtegrate DevOps"/>
            </div>
        </div>

        <div class="page-grid-layout">
            <div class="page-grid-layout-box">
                <span class="span-header">Why Choose us</span>
                <h2>Discover the Devtegrate advantage that sets us apart</h2>
                <p>Devtegrate is a leading provider of cloud solutions and services. We offer flexible and scalable cloud services that are designed to meet the needs of businesses of all sizes. Our cloud services are backed by a team of certified cloud experts who have extensive experience in designing, deploying, and managing cloud solutions. By choosing Devtegrate, customers can benefit from reduced IT costs, increased business agility, and improved operational efficiency.</p>

                <a class="btn-ctn" href="">
                    <span class="btn-text">Learn More About Us</span>
                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
                </a>
            </div>

            <div class="page-grid-layout-box">
                <h3>Client-Centric Approach</h3>
                <p>Our client-centric approach ensures that we deliver tailored solutions specifically designed to address the unique challenges of your industry.</p>
            </div>

            <div class="page-grid-layout-box">
                <h3>Infrastructure as Code for Startups</h3>
                <p>Devtegrate's Infrastructure as Code solutions provide the agility and flexibility essential for handling varying workloads and achieving rapid growth.</p>
            </div>

            <div class="page-grid-layout-box">
                <h3>Professional Cloud Services for Organizations</h3>
                <p>Security and compliance are non-negotiable in today's digital era. Devtegrate ensures that your organization's journey to the cloud is secure and compliant.</p>
            </div>

            <div class="page-grid-layout-box">
                <h3>Proven Track Record</h3>
                <p>Transforming the operations of healthcare organizations, streamlining financial services, or revolutionizing the way startups scale, our proven track record speaks volumes about the impact we bring to our clients.</p>
            </div>

            <div class="page-grid-layout-box">
                <h3>Innovation and Technology Leadership</h3>
                <p>We embrace the latest innovations, ensuring that your business stays at the forefront of technological advancements.</p>
            </div>
        </div>

        {% include 'components/footer.html' %}
    {% endblock %}