{% extends 'base.html' %}
    {% block content %}
        {% include 'components/navbar.html' %}
        {% include 'components/notification.html' %}

        {% for message in get_flashed_messages() %}
        <div class="notification-positioning">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="message-font">Hi! {{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}

        <div class="header">
            <div class="header-img-ctn">
                <img class="slider-img active" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526852/devtegrate-images/Artboard_11_oybwl0.jpg" alt="Devtegrate Image">

                <img class="slider-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526227/devtegrate-images/abstract-background-with-low-poly-design_tl8j9m.jpg" alt="Devtegrate Image">

                <img class="slider-img" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720525967/devtegrate-images/man-hand-holding-virtual-world-with-internet-connection-metaverse-global-business-marketing-banking-financial-pass-thru-application-technology-concept_616485-_cbl0sl.jpg" alt="Devtegrate Image">
            </div>

            <div class="header-bg">
                <div class="header-bg-ctn">
                    <div class="header-content-container active">
                        <h1>Maximize ROI on Your IT Budget</h1>
                        <p>Our data-driven approach to IT identifies inefficiencies and unlocks hidden potential, empowering you to invest in strategic growth initiatives.</p>

                        <a class="animationBtn" href="https://calendly.com/devtegrate">
                            Get a Free IT Assessment Today
                            <i class='bx bxs-chevron-right'></i>
                        </a>
                    </div>

                    <div class="header-content-container">
                        <h1>Cybersecurity Threats are Evolving. Is Your Business Prepared?</h1>
                        <p>The digital landscape offers incredible opportunities for businesses but also exposes them to a growing number of cyber threats. Data breaches, ransomware attacks, and online scams can have devastating consequences, causing financial losses, reputational damage, and operational disruption.</p>

                        <a class="animationBtn" href="https://calendly.com/devtegrate">
                            Get a Free IT Assessment Today
                            <i class='bx bxs-chevron-right'></i>
                        </a>
                    </div>

                    <div class="header-content-container">
                        <h1>Feeling Overwhelmed by Repetitive Tasks?</h1>

                        <p>In today's fast-paced business environment, repetitive tasks can consume valuable time and resources, hindering your ability to focus on strategic initiatives and growth. Automation plays a critical role in optimizing IT operations and software development. Devtegrate's automation solutions leverage cutting-edge tools and technologies to automate repetitive tasks, streamline workflows, and minimize human error.</p>

                        <a class="animationBtn" href="https://calendly.com/devtegrate">
                            Get a Free IT Assessment Today
                            <i class='bx bxs-chevron-right'></i>
                        </a>
                    </div>
                </div>

            </div>

            <div class="header-nav"><span>Next Page</span><span class="material-symbols-outlined">join_left</span></div>
        </div>

        <div class="updated-ctn-grid-ctn">
            <div class="updated-ctn-grid">
                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <span>Cloud Services</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530531/devtegrate-images/server_vnum2z.png" alt="Devtegrate Cloud Services">
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Struggling with IT Infrastructure Costs and Complexity?</h2>

                        <a class="extraBtn" href="{{ url_for('cloud_service') }}">
                            Learn More About Cloud Migration
                            <i class='bx bxs-chevron-right'></i>
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <span>Cyber Security</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530458/devtegrate-images/cyber-security_clnumf.png" alt="Devtegrate Cloud Services">
                    </div>
                    
                    <div class="updated-ctn-grid-box-cn">
                        <h2>Worried About Data Breaches and Cyber Attacks?</h2>

                        <a class="extraBtn" href="{{ url_for('cyber_security') }}">
                            How We Can Enhance Your Security
                            <i class='bx bxs-chevron-right'></i>
                        </a>

                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <span>Security and Compliance</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530476/devtegrate-images/file_dgtih1.png" alt="Devtegrate Cloud Services">
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Navigating Complex IT Compliance Requirements?</h2>

                        <a class="extraBtn" href="{{ url_for('security_compliance') }}">
                            Explore Our Compliance Services
                            <i class='bx bxs-chevron-right'></i>
                        </a>

                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <span>DevOps</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530477/devtegrate-images/infinity_lidel0.png" alt="Devtegrate Cloud Services">
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Feeling Slowed Down by Manual IT Processes? Explore DevOps</h2>

                        <a class="extraBtn" href="{{ url_for('cloud_devops') }}">
                            Optimize Your Development
                            <i class='bx bxs-chevron-right'></i>
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <span>Automation</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530489/devtegrate-images/robotic-hand_mube6r.png" alt="Devtegrate Cloud Services">
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Spending Too Much Time on Repetitive IT Tasks?</h2>

                        <a class="extraBtn" href="{{ url_for('cloud_automation') }}">
                            Unlock the Power of IT Automation
                            <i class='bx bxs-chevron-right'></i>
                        </a>
                    </div>
                </div>

                <div class="updated-ctn-grid-box">
                    <div class="updated-ctn-grid-box-img">
                        <span>Software Development</span>
                        <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720530620/devtegrate-images/software_diu1wm.png" alt="Devtegrate Cloud Services">
                    </div>

                    <div class="updated-ctn-grid-box-cn">
                        <h2>Need Custom Software Solutions to Drive Your Business Forward?</h2>

                        <a class="extraBtn" href="{{ url_for('software_development') }}">
                            Custom Software Development Needs
                            <i class='bx bxs-chevron-right'></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-form-ctn">
            <img class="form-img-bg" src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720526217/devtegrate-images/closeup-female-typing-laptop-keyboard_vxgvlr.jpg" alt="Devtegrate Image">

            <div class="footer-form-ctn-box">
                <div class="footer-form-ctn-box-content">
                    <h2>Form Field</h2>
                    <p>Please fill out the form below to get started, and our team will promptly reach out to discuss how we can best support your goals.</p>
                </div>

                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="footer-form-ctn-box-box">
                        <div class="advanceFlex">
                            <div class="footer-form-ctn-box-box-cn">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" required>
                            </div>

                            <div class="footer-form-ctn-box-box-cn">
                                <label for="work-email">Work Email</label>
                                <input type="email" id="work-email" name="email" pattern="^[a-zA-Z0-9._%+-]+@(?!(gmail\.com|yahoo\.com|outlook\.com)).+\.[a-zA-Z]{2,}$" required>
                            </div>
                        </div>

                        <div class="footer-form-ctn-box-box-cn">
                            <label for="company-name">Company Name</label>
                            <input type="text" id="company-name" name="company_name" required>
                        </div>

                        <div class="footer-form-ctn-box-box-cn">
                            <label for="company-size">Company Size</label>
                            <div class="advanceDropDown">
                                <div class="select">
                                    <input type="text" name="company_size" value="" id="company-size" name="company_size" required readonly>
                                    <div class="caret"></div>
                                </div>
                                <div class="menu">
                                    <div class="menuScroll">
                                        <li class="active">1-10</li>
                                        <li>11-50</li>
                                        <li>51-200</li>
                                        <li>201-500</li>
                                        <li>501-1000</li>
                                        <li>1001+</li>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="footer-form-ctn-box-box-cn">
                            <label for="industry">Industry</label>
                            <div class="advanceDropDown">
                                <div class="select">
                                    <input type="text" name="industry" value="" id="industry" name="industry" required onchange="toggleOtherIndustry()" readonly>
                                    <div class="caret"></div>
                                </div>
                                <div class="menu">
                                    <div class="menuScroll">
                                        <li class="active">Health</li>
                                        <li>Insurance</li>                                        
                                        <li>Technology</li>
                                        <li>Government</li>
                                        <li>Financial Services</li>
                                        <li>Other</li>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="footer-form-ctn-box-box-cn">
                            <label for="help-with">What do you need help with?</label>
                            <div class="advanceDropDown">
                                <div class="select">
                                    <input type="text" name="help_with" value="" id="help-with" name="help_with" required onchange="toggleOtherHelp()" readonly>
                                    <div class="caret"></div>
                                </div>
                                <div class="menu">
                                    <div class="menuScroll">
                                        <li class="active">Cloud Services</li>
                                        <li>Devops</li>
                                        <li>Compliance</li>
                                        <li>Automation</li>
                                        <li>Cybersecurity</li>
                                        <li>Software Development</li>
                                        <li>Other</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="formBtn" type="submit" name="submit">
                        Schedule Your Free IT Assessment Call
                        <i class='bx bxs-chevron-right'></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="page-container">
            <div class="container-header">
                <span>Managed Services. Cyber security. Compliance.</span>
                <h2>Our Trusted Clients and Partners</h2>
                <p>We have earned the trust and confidence of our clients through our expertise and commitent to excellence</p>
            </div>

            <div class="page-client-icon">
                <!-- Start First Slide -->

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/hardrock_mzhbsm-removebg-preview_uuogdg.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/autostore_zwuzf9-removebg-preview_qyqwco.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703784674/devtegrate-updates/download-removebg-preview_lzhc3d.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136554/devtegrate/aws_xcngxf-removebg-preview_pi6ea2.png" alt="Devtegrate DevOps">

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696862528/devtegrate-updates/download_2_xyu9nm.png" alt="Devtegrate DevOps"/>      

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696863305/devtegrate-updates/download_3_kl3cfx.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696861301/devtegrate-updates/download_wgbkqg.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703781400/devtegrate-updates/Millennia_Title_Logo-200x-removebg-preview_fpbjym.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895711/devtegrate-brand/google-cloud-icon-2048x1646-7admxejz_i8ryus.png" alt="Devtegrate DevOps"/>

                <!-- End First Slide -->

                <!-- Start Second Slide -->

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/hardrock_mzhbsm-removebg-preview_uuogdg.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136553/devtegrate/autostore_zwuzf9-removebg-preview_qyqwco.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703784674/devtegrate-updates/download-removebg-preview_lzhc3d.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1697136554/devtegrate/aws_xcngxf-removebg-preview_pi6ea2.png" alt="Devtegrate DevOps">

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696862528/devtegrate-updates/download_2_xyu9nm.png" alt="Devtegrate DevOps"/>      

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696863305/devtegrate-updates/download_3_kl3cfx.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1696861301/devtegrate-updates/download_wgbkqg.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1703781400/devtegrate-updates/Millennia_Title_Logo-200x-removebg-preview_fpbjym.png" alt="Devtegrate DevOps"/>

                    <img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718895711/devtegrate-brand/google-cloud-icon-2048x1646-7admxejz_i8ryus.png" alt="Devtegrate DevOps"/>
                    
                <!-- End Second Slide -->
            </div>
        </div>       

        {% include 'components/footer.html' %}
    {% endblock %}