<footer>
	<div class="footer-header">
		<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Cloud Services Image">
		
		<div class="footer-header-icon">
			<li><a href=""><i class='bx bxl-facebook-square' ></i></a></li>
			<li><a href=""><i class='bx bxl-twitter' ></i></a></li>
			<li><a href=""><i class='bx bxl-gmail' ></i></a></li>
			<li><a href=""><i class='bx bxl-instagram' ></i></a></li>
		</div>
	</div>

	<div class="footer-header-line"></div>

	<div class="footer-header-content">
		<div class="footer-header-content-details">
			<h2>Devtegrate Cloud Services DevOps made easy</h2>
			<p>Devtegrate is a professional service provider with a wealth of experience in Cloud DevOps. Our team of multinationals boasts a combined experience of over 50 years in the industry, with a thorough understanding of our clients' needs on a global scale. We pride ourselves in the provision of efficient and effective workflow and management systems, tailored to meet organizational goals and ensure seamless operations in daily tasks, web applications, software development, and other important requirements.</p>
			
			<a href="">
				<span>Read About Us</span>
				<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
			</a>
		</div>

		<div class="footer-header-content-link">
			<li><a href="">About Us</a></li>
			<li><a href="">Contact Us</a></li>
			<li><a href="">Our Services</a></li>
			<li><a href="">Our Team</a></li>
			<li><a href="">Support</a></li>
			<li><a href="">Help Center</a></li>
			<li><a href="">Legal</a></li>
			<li><a href="">Privacy Policy</a></li>
		</div>
	</div>

	<div class="footer-subscription-ctn">
		<div class="footer-subscription-cn">
			<h3>Stay up to date</h3>
			<p>Get newsletters on our latest events and occasions</p>
		</div>

		<div class="footer-subscription-form">
			<form>
				<input type="" name="" placeholder="Email Address">
				<button>Subscribe</button>
			</form>
		</div>
	</div>

	<span class="span-text">Copyright © Devtegrate 2024</span>
</footer>