<footer>
	<div class="footer-header">
		<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Cloud Services Image">
		
		<div class="footer-header-icon">
			<li><a href="https://www.facebook.com/profile.php?id=100087533002431"><i class='bx bxl-facebook-square' ></i></a></li>
			<li><a href="https://www.twitter.com/Devtegrate_LLC"><i class='bx bxl-twitter' ></i></a></li>
			<li><a href="mailto:tobi@devtegrate.com"><i class='bx bxl-gmail' ></i></a></li>
			<li><a href="https://www.instagram.com/devtegrate_llc"><i class='bx bxl-instagram' ></i></a></li>
		</div>
	</div>

	<div class="footer-header-line"></div>

	<div class="footer-header-content">
		<div class="footer-header-content-details">
			<h2>From Brainstorming to Implementation: We're the Tech Experts Who Help You Do It.</h2>
			<p>At Devtegrate, we're passionate about technology's power to revolutionize businesses. We were founded on the belief that every company deserves the tools to achieve its full potential. That's why we bring together a team of creative technologists and strategic thinkers dedicated to crafting cutting-edge solutions that transform how businesses operate.</p>
			
			<a href="{{ url_for('about') }}">
				<span>Read About Us</span>
				<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221708/devtegrate-updates/Right_Arrow_3_kyr0im.png" alt="Devtegrate Cloud Services">
			</a>
		</div>

		<div class="footer-header-content-link">
			<li><a href="{{ url_for('about') }}">About Us</a></li>
			<li><a href="{{ url_for('security_compliance') }}">Security compliance</a></li>
			<li><a href="">Contact Us</a></li>
			<li><a href="{{ url_for('software_development') }}">Software Development</a></li>
			<li><a href="{{ url_for('service') }}">Our Services</a></li>
			<li><a href="{{ url_for('cloud_service') }}">Cloud Services</a></li>
			<li><a href="">Legal</a></li>
			<li><a href="">Privacy Policy</a></li>
		</div>
	</div>

	<div class="footer-subscription-ctn">
		<div class="footer-subscription-cn">
			<h3>Stay up to date</h3>
			<p>Get newsletters on our latest events and occasions</p>
		</div>

		<div class="footer-subscription-form">
			<form>
				<input type="" name="" placeholder="Email Address">
				<button>Subscribe</button>
			</form>
		</div>
	</div>

	<span class="span-text">Copyright © Devtegrate 2024</span>
</footer>