<footer>
	<div class="footer-header">
		<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1720531159/devtegrate-images/Asset_5_ujcfae.svg" alt="Devtegrate Cloud Services Image">

		<div class="socialBtnSuperCta">
            <a href="https://www.facebook.com/profile.php?id=100087533002431" class="socialBtnCta">
                <div class="socialIcon"><i class="bx bxl-facebook"></i></div>
                <span>Facebook</span>
            </a>

            <a href="https://www.x.com/Devtegrate_LLC" class="socialBtnCta">
                <div class="socialIcon"><i class="bx bxl-twitter"></i></div>
                <span>Twiiter</span>
            </a>

            <a href="mailto:tobi@devtegrate.com" class="socialBtnCta">
                <div class="socialIcon"><i class='bx bxl-gmail'></i></div>
                <span>Mail</span>
            </a>

            <a href="https://www.instagram.com/devtegrate_llc" class="socialBtnCta">
                <div class="socialIcon"><i class="bx bxl-instagram"></i></div>
                <span>Instagram</span>
            </a>
        </div>
	</div>

	<div class="footer-header-line"></div>

	<div class="footer-header-content">
		<div class="footer-split-ctn">
			<div class="footer-header-content-details">
				<h2>From Brainstorming to Implementation: We're the Tech Experts Who Help You Do It.</h2>
				<p>At Devtegrate, we're passionate about technology's power to revolutionize businesses. We were founded on the belief that every company deserves the tools to achieve its full potential. That's why we bring together a team of creative technologists and strategic thinkers dedicated to crafting cutting-edge solutions that transform how businesses operate.</p>
				
				<a class="footerBtn" href="{{ url_for('about') }}">
					Read About Us
					<i class='bx bxs-chevron-right'></i>
				</a>
			</div>

			<div class="footer-subscription-ctn">
				<div class="footer-subscription-form">
					<form>
						<input type="" name="" placeholder="Email Address">
						<button class="subscriptionBtn">
							Subscribe
							<i class='bx bxs-chevron-right'></i>
						</button>
					</form>
				</div>

				<div class="footer-subscription-cn">
					<h3>Stay up to date</h3>
					<p>Get newsletters on our latest events and occasions</p>
				</div>
			</div>
		</div>

		<div class="footer-header-content-link">
			<div class="footer-header-content-link-ctn">
				<h2>Industries</h2>
				<li><a href="{{ url_for('financial_services') }}">Financial Services<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('government') }}">Government<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('health') }}">Health<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('technology') }}">Technology<i class='bx bx-up-arrow-alt'></i></a></li>
			</div>

			<div class="footer-header-content-link-ctn">
				<h2>Technology</h2>
				<li><a href="{{ url_for('cloud_service') }}">Cloud Services<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('security_compliance') }}">Security and Compliance<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="cloud_devops">Cloud DevOps<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('software_development') }}">Software Development<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('cyber_security') }}">Cyber Security<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('cloud_automation') }}">Cloud Automation<i class='bx bx-up-arrow-alt'></i></a></li>
			</div>

			<div class="footer-header-content-link-ctn">
				<h2>Quick Links</h2>
				<li><a href="{{ url_for('about') }}">About Us<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="mailto:tobi@devtegrate.com">Contact Us<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('service') }}">Our Services<i class='bx bx-up-arrow-alt'></i></a></li>				
			</div>

			<div class="footer-header-content-link-ctn">
				<h2>Extra</h2>
				<li><a href="{{ url_for('static', filename='documents/devtegrate-legal-document.pdf') }}">Legal<i class='bx bx-up-arrow-alt'></i></a></li>
				<li><a href="{{ url_for('privacy_policy') }}">Privacy Policy<i class='bx bx-up-arrow-alt'></i></a></li>
			</div>
		</div>
	</div>

	<span class="span-text">Copyright © Devtegrate 2024</span>
</footer>