<header>
	<nav>
		<div class="navbar-logo">
			<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Cloud Services">
		</div>

		<ul>
			<li><a href="">Technology</a></li>
			<li><a href="">Cloud Platform</a></li>
			<li><a href="">Our Services</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">Contact Us</a></li>
		</ul>

		<div class="ctn-cta">
			<a class="cta" href="">Get In Touch</a>
		</div>
		
	</nav>
</header>