<header>
	<nav>
		<div class="navbar-logo">
			<img src="https://res.cloudinary.com/quinn-daisies/image/upload/v1718221343/devtegrate-updates/Asset_2_pwuunu.png" alt="Devtegrate Cloud Services">
		</div>

		<ul>

			<li class="drop-down">
				<span>Technology</span>
				<ul>
					<li><a href="">Cloud Infrastructure</a></li>
					<li><a href="">Cloud Computing</a></li>
					<li><a href="">Cloud DevOps</a></li>
					<li><a href="">Cloud Automation</a></li>
					<li><a href="">Cloud Integration</a></li>
				</ul>
			</li>

			<li class="drop-down">
				<span>Cloud Platform</span>
				<ul>
					<li><a href="{{ url_for('aws') }}">Amazon Web Service</a></li>
					<li><a href="{{ url_for('azure') }}">Microsoft Azure</a></li>
					<li><a href="{{ url_for('gcp') }}">Google Cloud Service</a></li>
				</ul>
			</li>
			<li><a href="{{ url_for('service') }}">Our Services</a></li>
			<li><a href="{{ url_for('about') }}">About Us</a></li>
		</ul>

		<div class="ctn-cta">
			<a class="cta" href="">Get In Touch</a>
		</div>
		
	</nav>
</header>